data/ST96XMLSchema_V6_0_Flattened/ExaminationReport_V6_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common" xmlns:pat="http://www.wipo.int/standards/XMLSchema/ST96/Patent" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wipo.int/standards/XMLSchema/ST96/Patent" elementFormDefault="qualified" attributeFormDefault="qualified" version="V6_0">
	<xsd:import namespace="http://www.wipo.int/standards/XMLSchema/ST96/Common" schemaLocation="ExaminationReport_V6_0_Common.xsd"/>

	<xsd:annotation>
		<xsd:appinfo>
			<com:SchemaCreatedDate>2017-10-12</com:SchemaCreatedDate>
			<com:SchemaLastModifiedDate>2022-10-03</com:SchemaLastModifiedDate>
			<com:SchemaContactPoint>xml.standards@wipo.int</com:SchemaContactPoint>
			<com:SchemaReleaseNoteURL>http://www.wipo.int/standards/XMLSchema/ST96/V6_0/ReleaseNotes.pdf</com:SchemaReleaseNoteURL>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="ExaminationReport" type="pat:ExaminationReportType">
		<xsd:annotation>
			<xsd:documentation>Examination report data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="ExaminationReportType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="pat:PageImage" maxOccurs="unbounded"/>
			<xsd:element ref="pat:DocumentURI" maxOccurs="unbounded"/>
			<xsd:sequence>
				<xsd:element ref="com:CorrespondenceAddressBag" minOccurs="0"/>
				<xsd:element ref="pat:ApplicationIdentification"/>
				<xsd:element ref="pat:EarliestPriorityDate" minOccurs="0"/>
				<xsd:element ref="pat:ApplicantBag"/>
				<xsd:element ref="pat:EarlierOpinionConsideredIndicator"/>
				<xsd:element ref="com:ExaminationRequestDate" minOccurs="0"/>
				<xsd:element ref="pat:FinalReportEstablishmentDate" minOccurs="0"/>
				<xsd:element ref="pat:PatentClassificationBag"/>
				<xsd:element ref="com:Signature"/>
				<xsd:element ref="pat:AuthorityContact" minOccurs="0"/>
				<xsd:element ref="pat:ExaminationStartDate" minOccurs="0"/>
				<xsd:element ref="pat:ExaminationCompletedDate"/>
				<xsd:element ref="com:MailDate"/>
				<xsd:element ref="pat:ExaminationReportBasis"/>
				<xsd:element ref="pat:ReplyDuePeriod" minOccurs="0"/>
				<xsd:element ref="pat:ReportNotEstablishedStatement" minOccurs="0"/>
				<xsd:element ref="pat:LackingInventionUnity" minOccurs="0"/>
				<xsd:element ref="pat:InventionComplianceStatement" minOccurs="0"/>
				<xsd:element ref="pat:CertainCitedDocumentBag" minOccurs="0"/>
				<xsd:element ref="pat:CitedNonWrittenDisclosureBag" minOccurs="0"/>
				<xsd:element ref="pat:ApplicationFormalityDefects" minOccurs="0"/>
				<xsd:element ref="pat:ApplicationClarityObservation" minOccurs="0"/>
				<xsd:element ref="pat:SearchReportRevisionIndicator"/>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
		<xsd:attribute ref="com:officeCode"/>
		<xsd:attribute ref="com:languageCode"/>
		<xsd:attribute ref="com:formVersion"/>
		<xsd:attribute ref="com:documentFileName"/>
		<xsd:attribute ref="pat:reportCategory"/>
		<xsd:attribute ref="pat:examinationReportNumber"/>
		<xsd:attribute ref="com:st96Version" use="required"/>
		<xsd:attribute ref="com:ipoVersion"/>
	</xsd:complexType>
	
<xsd:element name="ActionDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that the symbol was assigned to the patent document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
		<xsd:element name="AdditionalRelevantDocumentIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>An indication of whether additional documents were discovered during the top-up search</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="AllClaimIndicator" type="xsd:boolean">
					<xsd:annotation>
					<xsd:documentation>Indicate whether this report covers all(searchable) claims in the application</xsd:documentation>
				</xsd:annotation>
				</xsd:element>
	
	<xsd:element name="AmendedClaimNumber" type="pat:AmendedClaimNumberType">
		<xsd:annotation>
			<xsd:documentation>Claim number and date amendment was received</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="AmendedClaimNumberRange" type="pat:AmendedClaimNumberRangeType">
		<xsd:annotation>
			<xsd:documentation>Claim number range and the date amendment was received</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="AmendedClaimNumberRangeType">
		<xsd:sequence>
			<xsd:element ref="pat:ClaimNumberRange"/>
			<xsd:element ref="com:DocumentReceivedDate"/>
		</xsd:sequence>
		<xsd:attribute ref="pat:internationalSearchAmendmentIndicator" default="false"/>
	</xsd:complexType>
	
	<xsd:complexType name="AmendedClaimNumberType">
		<xsd:sequence>
			<xsd:element ref="pat:ClaimNumber"/>
			<xsd:element ref="com:DocumentReceivedDate"/>
		</xsd:sequence>
		<xsd:attribute ref="pat:internationalSearchAmendmentIndicator" default="false"/>
	</xsd:complexType>
	
<xsd:element name="Applicant" type="pat:ApplicantType">
		<xsd:annotation>
			<xsd:documentation>The individual or entity identified as the executors of the patent</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ApplicantBag" type="pat:ApplicantBagType">
		<xsd:annotation>
			<xsd:documentation>The collection of applicants. Refers to ST.9 INID Code 71, INID Code 75.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="ApplicantBagType">
		<xsd:sequence>
<xsd:element ref="pat:Applicant" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="ApplicantCategory" type="pat:ApplicantCategoryType">
		<xsd:annotation>
			<xsd:documentation>Defines the type of applicant</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="ApplicantCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Applicant_Inventor">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the applicant is an inventor</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Applicant">
				<xsd:annotation>
					<xsd:documentation>Indicates whether an applicant is applicant only</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:attribute name="applicantSequenceNumberReference" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The sequence number ordering of successors to the rights of an inventor who is deceased, insane, or legally incapacitated</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:complexType name="ApplicantType">
		<xsd:sequence>
			<xsd:element ref="com:PartyIdentifier" minOccurs="0"/>
			<xsd:choice maxOccurs="2">
				<xsd:element ref="com:Contact"/>
				<xsd:element ref="com:PublicationContact"/>
			</xsd:choice>
			<xsd:element ref="pat:ApplicantCategory" minOccurs="0"/>
			<xsd:element ref="com:NationalityCode" minOccurs="0"/>
			<xsd:element ref="pat:DesignationCategory" minOccurs="0"/>
			<xsd:element ref="com:ResidenceCountryCode" minOccurs="0"/>
			<xsd:element ref="pat:SuccessorRights" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:sequenceNumber"/>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="ApplicationClarityObservation" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>Identifies which observations on the clarity of the claims, description, and drawings or on the question whether the claims are fully supported by the description</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ApplicationElementConsidered" type="pat:ApplicationElementConsideredType">
		<xsd:annotation>
			<xsd:documentation>Identifies which description pages, claim numbers, figure pages and optionally a sequence listing comprise the application which has been considered during examination</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ApplicationElementConsideredType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element ref="pat:DescriptionPageBag"/>
				<xsd:element ref="pat:DWGPageBag"/>
				<xsd:element ref="pat:ClaimNumberBag"/>
			</xsd:sequence>
			<xsd:element ref="pat:AsFiledApplicationIndicator"/>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="ApplicationFilingCategory" type="pat:ApplicationFilingCategoryType">
		<xsd:annotation>
			<xsd:documentation>Describes the filing type of application i.e. PCT, Regional or National</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="ApplicationFilingCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="PCT">
				<xsd:annotation>
					<xsd:documentation>PCT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Regional">
				<xsd:annotation>
					<xsd:documentation>Regional</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="National">
				<xsd:annotation>
					<xsd:documentation>National</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="ApplicationFormalityDefects" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>Identifies defects in the form or contents of the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ApplicationIdentification" type="pat:ApplicationIdentificationType">
		<xsd:annotation>
			<xsd:documentation>Identification of patent application. Refers to ST.9 INID Code 20.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="ApplicationIdentificationType">
		<xsd:sequence>
<xsd:element ref="com:IPOfficeCode"/>
<xsd:element ref="com:ApplicationNumber"/>
			<xsd:element ref="com:ApplicantFileReference" minOccurs="0"/>
			<xsd:element ref="com:FilingLanguageCode" minOccurs="0"/>
<xsd:element ref="pat:ApplicationFilingCategory" minOccurs="0"/>
<xsd:element ref="pat:InventionSubjectMatterCategory" minOccurs="0"/>
<xsd:element ref="pat:FilingDate" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="ApplicationModificationBasis" type="pat:ApplicationModificationBasisType">
		<xsd:annotation>
			<xsd:documentation>Information regarding correction or modification to the application.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="ApplicationModificationBasisType">
		<xsd:sequence>
<xsd:element ref="pat:ApplicationModificationReasonCategory"/>
<xsd:element ref="pat:ModificationDate" minOccurs="0"/>
		</xsd:sequence>
<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="ApplicationModificationReasonCategory" type="pat:ApplicationModificationReasonCategoryType">
		<xsd:annotation>
			<xsd:documentation>Reason for the modification to the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="ApplicationModificationReasonCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Correction of obvious mistakes">
				<xsd:annotation>
					<xsd:documentation>Indicates correction due to mistake</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Other reasons">
				<xsd:annotation>
					<xsd:documentation>Indicates correction due to other reasons</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="AsFiledApplicationIndicator" type="xsd:boolean" default="true">
		<xsd:annotation>
			<xsd:documentation>Indication that the document considered as the basis for the report was the application originally filed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="AuthorityContact" type="com:ContactType">
		<xsd:annotation>
			<xsd:documentation>International Search Authority; international search to be carried out by</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="BeginRangeNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Begin number of a range</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CancelledClaimNumberRange" type="pat:ClaimNumberRangeType">
		<xsd:annotation>
			<xsd:documentation>Claim numbers which have no longer form part of the specification because they have been cancelled, due to amendment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CancelledElementAmendment" type="pat:CancelledElementAmendmentType">
		<xsd:annotation>
			<xsd:documentation>Identifies the description and drawings pages, claim numbers and sequence listings that have been cancelled due to amendment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="CancelledElementAmendmentType">
		<xsd:choice maxOccurs="4">
			<xsd:element ref="pat:DescriptionPageBag"/>
			<xsd:element ref="pat:DWGPageBag"/>
			<xsd:element ref="pat:ClaimNumberBag"/>
			<xsd:element ref="pat:CancelledSEQLDescription"/>
		</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="CancelledSEQLDescription" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>A description of the sequence listing which was cancelled as a result of amendment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CertainCitedDocument" type="pat:CertainCitedDocumentType">
		<xsd:annotation>
			<xsd:documentation>Summary of any published document which was filed after the priority application but before publication which may be relevant for the purposes of novelty or inventive step</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CertainCitedDocumentBag" type="pat:CertainCitedDocumentBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of potentially relevant documents published after the priority date which are cited in the report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="CertainCitedDocumentBagType">
		<xsd:sequence>
			<xsd:element ref="pat:CertainCitedDocument" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CertainCitedDocumentType">
		<xsd:sequence>
			<xsd:element ref="pat:CitationCategoryCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="pat:ApplicationIdentification"/>
			<xsd:element ref="pat:PatentGrantIdentification" minOccurs="0"/>
			<xsd:element ref="com:PublicationDate"/>
			<xsd:element ref="pat:PriorityDate" minOccurs="0"/>
			<xsd:element ref="com:AdditionalRemark" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="CitationCategoryCode" type="pat:CitationCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>A code given to a category that indicates the relevance of any document cited in the search report accompanying published patent applications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="CitationCategoryCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="X">
				<xsd:annotation>
					<xsd:documentation>The claimed invention cannot be considered novel or cannot be considered to involve an inventive step when the document is taken alone.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Y">
				<xsd:annotation>
					<xsd:documentation>The claimed invention cannot be considered to involve an inventive step when the document is combined with one or more other such documents, such combination being obvious to a person skilled in the art.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Document defining the general state of the art which is not considered to be of particular relevance</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation>Earlier patent document as defined in Rule 33.1(c) of the Regulations under the PCT, but published on or after the international filing date</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:documentation>Document which may throw doubts on priority claim(s) or which is cited to establish the publication date of another citation or other special reason (the reason for citing the document shall be given)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="O">
				<xsd:annotation>
					<xsd:documentation>Document referring to an oral disclosure, use, exhibition or other means</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:documentation>Document published prior to the filing date (in the case of the PCT, the international filing date) but later than the priority date claimed in the application. Code "P" should always be accompanied by one of the categories "X", "Y" or "A"</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="T">
				<xsd:annotation>
					<xsd:documentation>Later document published after the filing date (in the case of the PCT, the international filing date) or priority date and not in conflict with the application but cited to understand the principle or theory underlying the invention</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ampersand">
				<xsd:annotation>
					<xsd:documentation>The value Ampersand represents the symbol of &amp;. Document being a member of the same patent family or document whose contents have not been verified by the search examiner but are believed to be substantially identical to those of another document which the search examiner has inspected.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Document cited by the applicant in the application and which document (reference) was referred to in the course of the search procedure. Code "D" should always be accompanied by one of the categories indicating the relevance of the cited document</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="CitedNonWrittenDisclosure" type="pat:CitedNonWrittenDisclosureType">
		<xsd:annotation>
			<xsd:documentation>Information regarding a non-written disclosure which has been cited as relevant</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CitedNonWrittenDisclosureBag" type="pat:CitedNonWrittenDisclosureBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of non-written disclosures referred to the report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="CitedNonWrittenDisclosureBagType">
		<xsd:sequence>
			<xsd:element ref="pat:CitedNonWrittenDisclosure" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="CitedNonWrittenDisclosureType">
		<xsd:sequence>
			<xsd:element ref="pat:NonWrittenDisclosureCategory"/>
			<xsd:element ref="pat:NonWrittenDisclosureDate"/>
			<xsd:element ref="pat:NonWrittenDisclosureEvidenceDate"/>
			<xsd:element ref="com:AdditionalRemark" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="ClaimNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Claim Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ClaimNumberBag" type="pat:ClaimNumberBagType">
		<xsd:annotation>
			<xsd:documentation>Claim number/s that have been examined within this report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ClaimNumberBagType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:choice>
				<xsd:element ref="pat:ClaimNumber"/>
				<xsd:element ref="pat:ClaimNumberRange"/>
			</xsd:choice>
			<xsd:choice>
				<xsd:element ref="pat:AmendedClaimNumber"/>
				<xsd:element ref="pat:AmendedClaimNumberRange"/>
			</xsd:choice>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="ClaimNumberRange" type="pat:ClaimNumberRangeType">
		<xsd:annotation>
			<xsd:documentation>Claim number range</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ClaimNumberRangeNotConsidered" type="pat:ClaimNumberRangeNotConsideredType">
		<xsd:annotation>
			<xsd:documentation>Identifies claims which have not been considered for the purposes of novelty, inventive step and industrial applicability and the reason why</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ClaimNumberRangeNotConsideredType">
		<xsd:choice>
			<xsd:element ref="pat:EntireApplicationIndicator"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="pat:ClaimNumber"/>
				<xsd:element ref="pat:ClaimNumberRange"/>
			</xsd:choice>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:complexType name="ClaimNumberRangeType">
		<xsd:sequence>
<xsd:element ref="pat:BeginRangeNumber"/>
<xsd:element ref="pat:EndRangeNumber"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="Class" type="pat:ClassType">
		<xsd:annotation>
			<xsd:documentation>The second hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ClassificationVersionDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date when the classification symbol enters into force or the definition of the symbol is modified.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ClassType">
		<xsd:restriction base="xsd:token">
			<xsd:length value="2"/>
			<xsd:pattern value="[0-9][1-9]|[1-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="CompliantClaimNumberRange" type="pat:ClaimNumberBagType">
		<xsd:annotation>
			<xsd:documentation>Claim numbers which satisfy the associated criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="CPCClassification" type="pat:CPCClassificationType">
		<xsd:annotation>
			<xsd:documentation>Cooperative Patent Classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CPCClassificationBag" type="pat:CPCClassificationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of Classifications for CPC</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="CPCClassificationBagType">
			<xsd:sequence>
<xsd:element ref="pat:MainCPC"/>
<xsd:element ref="pat:FurtherCPC" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="CPCClassificationStatusCode" type="pat:CPCClassificationStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the circumstances under which the symbol was assigned to the patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="CPCClassificationStatusCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Basic or original data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R">
				<xsd:annotation>
					<xsd:documentation>Reclassified data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:complexType name="CPCClassificationType">
		<xsd:sequence>
<xsd:element ref="pat:ClassificationVersionDate"/>
<xsd:element ref="pat:CPCSection"/>
<xsd:element ref="pat:Class"/>
<xsd:element ref="pat:Subclass"/>
<xsd:element ref="pat:MainGroup"/>
<xsd:element ref="pat:Subgroup"/>
<xsd:element ref="com:SymbolPositionCode"/>
<xsd:element ref="pat:CPCClassificationValueCode"/>
<xsd:element ref="pat:ActionDate"/>
<xsd:element ref="pat:GeneratingOfficeCode"/>
<xsd:element ref="pat:CPCClassificationStatusCode" minOccurs="0"/>
<xsd:element ref="pat:PatentClassificationDataSourceCode" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="CPCClassificationValueCode" type="pat:CPCClassificationValueCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the classification value which distinguishes between invention information and additional information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="CPCClassificationValueCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Inventive</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Additional</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="CPCCombinationRank" type="pat:CPCCombinationRankType">
		<xsd:annotation>
			<xsd:documentation>A combination rank specifies the order of symbols within combination set.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="CPCCombinationRankType">
		<xsd:sequence>
<xsd:element ref="pat:CPCRankNumber"/>
<xsd:element ref="pat:CPCClassification"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="CPCCombinationSet" type="pat:CPCCombinationSetType">
		<xsd:annotation>
			<xsd:documentation>A combination set is a group of CPC symbols that have one base symbol and one or more subsequent ranked symbols that are linked together to convey special classification information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="CPCCombinationSetType">
		<xsd:sequence>
<xsd:element ref="pat:CPCGroupNumber"/>
<xsd:element ref="pat:CPCCombinationRank" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="CPCGroupNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A number that is used to identify a group of symbols, when allocating a combination set to a patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="CPCRankNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The sequential number that is used to identify the order of a symbol within a combination set. Order of the symbols is important.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="CPCSection" type="pat:CPCSectionType">
		<xsd:annotation>
			<xsd:documentation>The first or highest hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="CPCSectionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Human Necessities</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Performing Operations, Transporting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Chemistry, Metallurgy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Textiles, Paper</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation>Fixed Constructions</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Mechanical Engineering, Lighting, Heating, Weapons, Blasting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="G">
				<xsd:annotation>
					<xsd:documentation>Physics</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="H">
				<xsd:annotation>
					<xsd:documentation>Electricity</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Y">
				<xsd:annotation>
					<xsd:documentation>Cross Sectional Technologies (e.g. YOIN Nanotechnology)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="DescriptionCancelledPageBag" type="pat:PageElementBasisBagType">
		<xsd:annotation>
			<xsd:documentation>Pages which were superseded and no longer form the description element of the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DescriptionPageBag" type="pat:PageElementBasisBagType">
		<xsd:annotation>
			<xsd:documentation>Pages which form the description element of the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="DesignationCategory" type="pat:DesignationCategoryType">
		<xsd:annotation>
			<xsd:documentation>Information that the person who is applicant or inventor for the purpose of all designated States or as indicated</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="DesignationCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="All">
				<xsd:annotation>
					<xsd:documentation>All designated States</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="All except US">
				<xsd:annotation>
					<xsd:documentation>All designated States except US</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="US only">
				<xsd:annotation>
					<xsd:documentation>US only</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="As indicated">
				<xsd:annotation>
					<xsd:documentation>The States indicated as in state designation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="DocumentURI" type="pat:DocumentURIType">
		<xsd:annotation>
			<xsd:documentation>Page in other formats such as PDF. This is primarily to be used when data for the whole or major sections of an application are in other formats such as PDF.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DocumentURIType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute ref="com:id"/>
				<xsd:attribute ref="com:documentFileName"/>
				<xsd:attribute ref="pat:firstPageNumber"/>
				<xsd:attribute ref="pat:lastPageNumber"/>
				<xsd:attribute ref="pat:pageDocumentFormatCategory" use="required"/>
				<xsd:attribute ref="pat:ocrIndicator"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:element name="DWGCancelledPageBag" type="pat:PageElementBasisBagType">
		<xsd:annotation>
			<xsd:documentation>Drawing Pages which were superseded and no longer form the basis of the drawings element of the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DWGPageBag" type="pat:PageElementBasisBagType">
		<xsd:annotation>
			<xsd:documentation>Pages which form the drawings element of the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="EarlierOpinionConsideredIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indication whether the written opinion by the search authority has been considered as a written opinion of the examination authority</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="EarlierSearchReportMailDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The earlier search report mail date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="EarliestPriorityDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of earliest priority</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ECLAClassification" type="pat:ECLAClassificationType">
		<xsd:annotation>
			<xsd:documentation>ECLA Classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ECLAClassificationBag" type="pat:ECLAClassificationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of Classifications for ECLA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ECLAClassificationBagType">
		<xsd:sequence>
			<xsd:element ref="pat:MainECLA"/>
			<xsd:element ref="pat:FurtherECLA" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="ECLAClassificationStatusCode" type="pat:ECLAClassificationStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the circumstances under which the symbol was assigned to the patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ECLAClassificationStatusCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Basic or original data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R">
				<xsd:annotation>
					<xsd:documentation>Reclassified data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="ECLAClassificationType">
		<xsd:sequence>
			<xsd:element ref="pat:ClassificationVersionDate"/>
			<xsd:element ref="pat:ECLASection"/>
			<xsd:element ref="pat:Class"/>
			<xsd:element ref="pat:Subclass"/>
			<xsd:element ref="pat:MainGroup"/>
			<xsd:element ref="pat:Subgroup"/>
			<xsd:element ref="com:SymbolPositionCode"/>
			<xsd:element ref="pat:ECLAClassificationValueCode"/>
			<xsd:element ref="pat:ActionDate"/>
			<xsd:element ref="pat:GeneratingOfficeCode"/>
			<xsd:element ref="pat:ECLAClassificationStatusCode" minOccurs="0"/>
			<xsd:element ref="pat:PatentClassificationDataSourceCode" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="ECLAClassificationValueCode" type="pat:ECLAClassificationValueCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the classification value which distinguishes between invention information and additional information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ECLAClassificationValueCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Inventive</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:documentation>Non-Inventive</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="ECLACombinationRank" type="pat:ECLACombinationRankType">
		<xsd:annotation>
			<xsd:documentation>A combination rank specifies the order of symbols within combination set.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ECLACombinationRankType">
		<xsd:sequence>
			<xsd:element ref="pat:ECLARankNumber"/>
			<xsd:element ref="pat:ECLAClassification"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="ECLACombinationSet" type="pat:ECLACombinationSetType">
		<xsd:annotation>
			<xsd:documentation>A combination set is a group of ECLA symbols that have one base symbol and one or more subsequent ranked symbols that are linked together to convey special classification information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ECLACombinationSetType">
		<xsd:sequence>
			<xsd:element ref="pat:ECLAGroupNumber"/>
			<xsd:element ref="pat:ECLACombinationRank" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="ECLAGroupNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A number that is used to identify a group of symbols, when allocating a combination set to a patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ECLARankNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The sequential number that is used to identify the order of a symbol within a combination set. Order of the symbols is important.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ECLASection" type="pat:ECLASectionType">
		<xsd:annotation>
			<xsd:documentation>The first or highest hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ECLASectionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Human Necessities</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Performing Operations, Transporting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Chemistry, Metallurgy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Textiles, Paper</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation>Fixed Constructions</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Mechanical Engineering, Lighting, Heating, Weapons, Blasting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="G">
				<xsd:annotation>
					<xsd:documentation>Physics</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="H">
				<xsd:annotation>
					<xsd:documentation>Electricity</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Y">
				<xsd:annotation>
					<xsd:documentation>Cross Sectional Technologies (e.g. YOIN Nanotechnology)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="ElementNotConsideredBag" type="pat:ElementNotConsideredBagType">
		<xsd:annotation>
			<xsd:documentation>The elements of the specification which have not been considered for the purposes of the report as they are considered to go beyond the disclosure as filed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ElementNotConsideredBagType">
		<xsd:sequence>
			<xsd:element ref="pat:DescriptionCancelledPageBag"/>
			<xsd:element ref="pat:CancelledClaimNumberRange"/>
			<xsd:element ref="pat:DWGCancelledPageBag"/>
			<xsd:element ref="pat:SequenceCancelledIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="EndRangeNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>End number of a range</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="EntireApplicationIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indication that all of the elements within the application are effected</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ExaminationCompletedDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that examination was completed. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ExaminationReportBasis" type="pat:ExaminationReportBasisType">
		<xsd:annotation>
			<xsd:documentation>Captures information regarding the elements which form the specification on which the examination report is based</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ExaminationReportBasisType">
		<xsd:sequence>
			<xsd:element ref="pat:LanguageBasis" minOccurs="0"/>
			<xsd:element ref="pat:ApplicationModificationBasis" minOccurs="0"/>
			<xsd:element ref="pat:SEQLBasis" minOccurs="0"/>
			<xsd:element ref="pat:PriorityClaimBasis" minOccurs="0"/>
			<xsd:element ref="pat:ApplicationElementConsidered"/>
			<xsd:element ref="pat:TopUpSearchBasis" minOccurs="0"/>
			<xsd:element ref="pat:SupplementarySearchAuthorityBag" minOccurs="0"/>
			<xsd:element ref="pat:CancelledElementAmendment" minOccurs="0"/>
			<xsd:element ref="pat:ElementNotConsideredBag" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:attribute name="examinationReportNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Specifies how many examination reports have been established during this examination phase</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:element name="ExaminationStartDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that examination of the application commenced</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="FilingDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date assigned by the Patent Office that identifies when an application meets certain criteria to qualify as having been filed. Refers to ST.9 INID Code 22.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="FilingLanguageIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>With regard to the language, the international search was carried out on the basis of the international application in the language in which it was filed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="FinalReportEstablishmentDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The final date by which the examination authority must establish the final report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:attribute name="firstPageNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>First page of the included document or page</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:element name="FurtherClassification" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Further or secondary classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="FurtherCPC" type="pat:FurtherCPCType">
		<xsd:annotation>
			<xsd:documentation>Any CPC symbol that follows the first symbol on the document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="FurtherCPCType">
		<xsd:choice maxOccurs="unbounded" >
<xsd:element ref="pat:CPCClassification"/>
<xsd:element ref="pat:CPCCombinationSet"/>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="FurtherECLA" type="pat:FurtherECLAType">
		<xsd:annotation>
			<xsd:documentation>Any ECLA symbol that follows the first symbol on the document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="FurtherECLAType">
		<xsd:choice maxOccurs="unbounded" >
			<xsd:element ref="pat:ECLAClassification"/>
			<xsd:element ref="pat:ECLACombinationSet"/>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="FurtherNationalClassification" type="pat:MainFurtherNationalClassificationType">
		<xsd:annotation>
			<xsd:documentation>Further national classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="GeneratingOfficeCode" type="com:ExtendedWIPOST3CodeType">
		<xsd:annotation>
			<xsd:documentation>The code that specifies IP Office, based on ST.3, which assigned the classification symbol to the patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="GrantDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of grant</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="IncomplianceReasonRemark" type="com:PType">
		<xsd:annotation>
			<xsd:documentation>Incompliance reasons</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="IndustrialApplicabilityClaimBag" type="pat:StatementClaimRangeType">
		<xsd:annotation>
			<xsd:documentation>A statement as to which claims satisfy the criteria of industrial applicability and which do not</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
		<xsd:attribute name="internationalSearchAmendmentIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates that amendments have been received during the International Search phase</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
<xsd:element name="InventionClaimBag" type="pat:InventionClaimBagType">
		<xsd:annotation>
			<xsd:documentation>A group of claims per invention</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="InventionClaimBagType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element ref="pat:InventionNumber"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="pat:ClaimNumber"/>
				<xsd:element ref="pat:ClaimNumberRange"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="InventionClaimGroup" type="pat:InventionClaimGroupType">
		<xsd:annotation>
			<xsd:documentation>Collection of groups of invention claims</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="InventionClaimGroupType">
		<xsd:sequence>
			<xsd:element ref="pat:InventionClaimBag" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="InventionComplianceStatement" type="pat:InventionComplianceStatementType">
		<xsd:annotation>
			<xsd:documentation>A reasoned statement with regard to novelty, inventive step and industrial applicability; citations and explanations supporting this statement</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="InventionComplianceStatementType">
		<xsd:sequence>
			<xsd:element ref="pat:NoveltyClaimBag"/>
			<xsd:element ref="pat:InventiveStepClaimBag"/>
			<xsd:element ref="pat:IndustrialApplicabilityClaimBag"/>
			<xsd:element ref="com:AdditionalRemark"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="InventionNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The number assigned to an invention which is noted with other inventions in the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="InventionSubjectMatterCategory" type="pat:InventionSubjectMatterCategoryType">
		<xsd:annotation>
			<xsd:documentation>Describes the type of invention i.e. Design, Utility or Plant</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="InventionSubjectMatterCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Design">
				<xsd:annotation>
					<xsd:documentation>Design</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Utility">
				<xsd:annotation>
					<xsd:documentation>Utility</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Plant">
				<xsd:annotation>
					<xsd:documentation>Plant</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="InventionTotalQuantity" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>Total number of inventions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="InventionUnityComplianceIndicator" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Indicate that the Authority considers that the requirement of unity of invention is complied with. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
	
		<xsd:element name="InventionUnityIncomplianceReason" type="pat:InventionUnityIncomplianceReasonType">
			<xsd:annotation>
				<xsd:documentation>The reason why the Authority considers that the requirement of unity of invention is not complied with</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	
	<xsd:complexType name="InventionUnityIncomplianceReasonType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="pat:InventionTotalQuantity"/>
			<xsd:element ref="pat:InventionClaimGroup"/>
			<xsd:element ref="pat:IncomplianceReasonRemark"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="InventiveStepClaimBag" type="pat:StatementClaimRangeType">
		<xsd:annotation>
			<xsd:documentation>A statement as to which claims satisfy the criteria of inventive step (non-obviousness) and which do not</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="IPCClassification" type="pat:IPCClassificationType">
		<xsd:annotation>
			<xsd:documentation>International Patent Classification used before 2006. Refers to ST.9 INID Code 51.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="IPCClassificationStatusCode" type="pat:IPCClassificationStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the circumstances under which the symbol was assigned to the patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="IPCClassificationStatusCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Basic or original data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R">
				<xsd:annotation>
					<xsd:documentation>Reclassified data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="V">
				<xsd:annotation>
					<xsd:documentation>Various data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Deleted data</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:complexType name="IPCClassificationType">
		<xsd:annotation>
			<xsd:documentation>International Patent Classification (IPC) data</xsd:documentation>
		</xsd:annotation>
			<xsd:sequence>
<xsd:element ref="com:Edition"/>
<xsd:element ref="pat:MainClassification"/>
<xsd:element ref="pat:FurtherClassification" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="IPCClassificationValueCode" type="pat:IPCClassificationValueCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the classification value which distinguishes between invention information and additional information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="IPCClassificationValueCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:documentation>Inventive</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:documentation>Non Inventive</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="IPCRClassification" type="pat:IPCRClassificationType">
		<xsd:annotation>
			<xsd:documentation>International Patent Classification Reform. Refers to ST.9 INID Code 51.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="IPCRClassificationBag" type="pat:IPCRClassificationBagType">
		<xsd:annotation>
			<xsd:documentation>A Collection of International Patent Classifications Reform</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="IPCRClassificationBagType">
		<xsd:sequence>
<xsd:element ref="pat:IPCRClassification" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="IPCRClassificationType">
		<xsd:choice>
			<xsd:element ref="pat:PatentClassificationText"/>
			<xsd:sequence>
				<xsd:element ref="pat:ClassificationVersionDate"/>
				<xsd:element ref="pat:PatentClassificationLevelCode" minOccurs="0"/>
				<xsd:element ref="com:SymbolPositionCode" minOccurs="0"/>
				<xsd:element ref="pat:IPCClassificationValueCode" minOccurs="0"/>
				<xsd:element ref="pat:ActionDate" minOccurs="0"/>
				<xsd:element ref="pat:IPCClassificationStatusCode" minOccurs="0"/>
				<xsd:element ref="pat:PatentClassificationDataSourceCode" minOccurs="0"/>
				<xsd:element ref="pat:GeneratingOfficeCode" minOccurs="0"/>
				<xsd:choice>
					<xsd:element ref="pat:PatentClassificationSymbolText"/>
					<xsd:sequence>
						<xsd:element ref="pat:Section"/>
						<xsd:element ref="pat:Class"/>
						<xsd:element ref="pat:Subclass"/>
						<xsd:element ref="pat:MainGroup" minOccurs="0"/>
						<xsd:element ref="pat:Subgroup" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
		<xsd:attribute ref="com:sequenceNumber"/>
	</xsd:complexType>
	
<xsd:element name="LackingInventionUnity" type="pat:LackingInventionUnityType">
		<xsd:annotation>
			<xsd:documentation>Information about the lack of unity of invention</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="LackingInventionUnityConsequenceCategory" type="pat:LackingInventionUnityConsequenceCategoryType">
		<xsd:annotation>
			<xsd:documentation>Consequence of the lack of unity of invention that the authority found in the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="LackingInventionUnityConsequenceCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FeesFullyPaid_ProtestFee_AllInventions">
				<xsd:annotation>
					<xsd:documentation>All additional fees were paid and this report covers all inventions that can be searched or examined. A protest was made and the protest fee was timely paid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesFullyPaid_NoProtestFee_AllInventions">
				<xsd:annotation>
					<xsd:documentation>All additional fees were paid and this report covers all inventions that can be searched or examined. A protest was made but the protest fee was not timely paid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesFullyPaid_NoProtest_AllInventions">
				<xsd:annotation>
					<xsd:documentation>All additional fees were paid and this report covers all inventions that can be searched or examined. No protest was made.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NoFeesInvited_AllInventions">
				<xsd:annotation>
					<xsd:documentation>The applicant was not invited to pay additional fees despite the finding of lack of unity of invention. This report covers all inventions that can be searched or examined.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesPartiallyPaid_ProtestFee_RestrictedInvention">
				<xsd:annotation>
					<xsd:documentation>Some but not all additional fees were paid and this report covers a restricted set of inventions. A protest was made and the protest fee was timely paid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesPartiallyPaid_NoProtestFee_RestrictedInvention">
				<xsd:annotation>
					<xsd:documentation>Some but not all additional fees were paid and this report covers a restricted set of inventions. A protest was made but the protest fee was not timely paid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesPartiallyPaid_NoProtest_RestrictedInvention">
				<xsd:annotation>
					<xsd:documentation>Some but not all additional fees were paid and this report covers a restricted set of inventions. No protest was made.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FeesNotPaid_MainInvention">
				<xsd:annotation>
					<xsd:documentation>No additional fees were timely paid and this report covers only the main invention, namely, the invention first mentioned in the claims.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Response_RestrictedInvention">
				<xsd:annotation>
					<xsd:documentation>The applicant has restricted the claims following the invitation to restrict or pay additional fees. If the restriction resolves the issue of lack of unity of invention in the application, this report covers all parts of the (amended) application. If the restriction is not sufficient to resolve the issue of lack of unity of invention in the application, this report covers the invention first mentioned in the claims after restriction and any invention for which additional fees have been paid.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NoResponse_MainInvention">
				<xsd:annotation>
					<xsd:documentation>Neither additional fees were timely paid nor claims were restricted and this report covers only the main invention, namely, the invention first mentioned in the claims.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SupplementarySearch_MainInvention">
				<xsd:annotation>
					<xsd:documentation>Following the finding of lack of unity of invention, this supplementary search report covers only the main invention, namely, the invention first mentioned in the claims.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SupplementarySearch_RestrictedInvention">
				<xsd:annotation>
					<xsd:documentation>At the request of the applicant, this supplementary search report covers only the invention specified by the applicant.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SupplementarySearch_EarlierSearchReport">
				<xsd:annotation>
					<xsd:documentation>The Authority agrees with the conclusions of the earlier search report regarding unity of invention.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="LackingInventionUnityType">
		<xsd:sequence>
			<xsd:element ref="pat:LackingInventionUnityConsequenceCategory" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="pat:InventionUnityComplianceIndicator"/>
				<xsd:element ref="pat:InventionUnityIncomplianceReason" />
			</xsd:choice>
			<xsd:element ref="pat:ReportCoveredClaimBag"/>
			<xsd:element ref="pat:OpinionReviewRequest" minOccurs="0"/>
			<xsd:element ref="pat:EarlierSearchReportMailDate" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="LanguageBasis" type="pat:LanguageBasisType">
		<xsd:annotation>
			<xsd:documentation>Information regarding the language use in filing.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="LanguageBasisType">
		<xsd:choice>
<xsd:element ref="pat:FilingLanguageIndicator"/>
<xsd:element ref="pat:TranslationLanguageCode"/>
		</xsd:choice>
<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:attribute name="lastPageNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Last page of the included document</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:element name="MainClassification" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Main classification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="MainCPC" type="pat:MainCPCType">
		<xsd:annotation>
			<xsd:documentation>The first CPC classification symbol on the document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="MainCPCType">
		<xsd:sequence>
<xsd:element ref="pat:CPCClassification"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="MainECLA" type="pat:MainECLAType">
		<xsd:annotation>
			<xsd:documentation>The first ECLA classification symbol on the document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="MainECLAType">
		<xsd:sequence>
			<xsd:element ref="pat:ECLAClassification"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:complexType name="MainFurtherNationalClassificationType">
		<xsd:choice>
			<xsd:element ref="pat:PatentClassificationText"/>
			<xsd:sequence>
				<xsd:element ref="pat:NationalClass"/>
				<xsd:element ref="pat:NationalSubclass"/>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="MainGroup" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The fourth hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="MainNationalClassification" type="pat:MainFurtherNationalClassificationType">
		<xsd:annotation>
			<xsd:documentation>Main national classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ModificationDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date that modification is made</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NationalClass" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>First level national classification</xsd:documentation>
			</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NationalClassification" type="pat:NationalClassificationType">
		<xsd:annotation>
			<xsd:documentation>National patent classification. Refers to ST.9 INID Code 52.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="NationalClassificationType">
			<xsd:sequence>
<xsd:element ref="com:IPOfficeCode"/>
<xsd:element ref="com:Edition" minOccurs="0"/>
<xsd:element ref="pat:MainNationalClassification"/>
<xsd:element ref="pat:FurtherNationalClassification" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="NationalSubclass" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Second level national classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NonWrittenDisclosureCategory" type="xsd:token">
		<xsd:annotation>
			<xsd:documentation>Category of non-written disclosure which has been provided, for example a presentation at a conference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NonWrittenDisclosureDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>Date on which the non-written disclosure was established</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NonWrittenDisclosureEvidenceDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date of the written disclosure which establishes evidence of the non-written disclosure</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NotCompliantClaimNumberRange" type="pat:ClaimNumberBagType">
		<xsd:annotation>
			<xsd:documentation>Identifies claim numbers which do not satisfy a particular criteria</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
		<xsd:element name="NoTopUpSearchIndicator" type="xsd:boolean" default="true">
		<xsd:annotation>
			<xsd:documentation>An indicator that there was not a top-up search conducted as it would serve no useful purpose</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="NoveltyClaimBag" type="pat:StatementClaimRangeType">
		<xsd:annotation>
			<xsd:documentation>A statement as to which claims are considered to satisfy the criteria of novelty and which do not</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:attribute name="ocrIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicates if the included document or page is scanned using OCR (Optical character recognition) technique</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:element name="OpinionReviewFeeAmount" type="com:AmountType">
		<xsd:annotation>
			<xsd:documentation>Review fee amount</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="OpinionReviewRequest" type="pat:OpinionReviewRequestType">
		<xsd:annotation>
			<xsd:documentation>The applicant has a possibility to request the Authority to review its opinion within a fixed time and with or without additional fee for the review</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="OpinionReviewRequestType">
		<xsd:sequence>
			<xsd:element ref="pat:ReviewRequestDuePeriod"/>
			<xsd:element ref="pat:OpinionReviewFeeAmount" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:attribute name="pageDocumentFormatCategory" type="pat:PageDocumentFormatCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of document format of the page.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
<xsd:simpleType name="PageDocumentFormatCategoryType">
		<xsd:restriction base="com:DocumentFormatCategoryType">
			<xsd:enumeration value="MS Word">
				<xsd:annotation>
					<xsd:documentation>MS Word</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XML">
				<xsd:annotation>
					<xsd:documentation>XML</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Text">
				<xsd:annotation>
					<xsd:documentation>Text</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EPS">
				<xsd:annotation>
					<xsd:documentation>EPS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PDF">
				<xsd:annotation>
					<xsd:documentation>PDF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HTML">
				<xsd:annotation>
					<xsd:documentation>HTML</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="PageElementBasis" type="pat:PageElementBasisType">
				<xsd:annotation>
					<xsd:documentation>Identifies the pages to be included for a particular element of the application and the date they were filed if amended after filing</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
	<xsd:complexType name="PageElementBasisBagType">
		<xsd:sequence>
			<xsd:element ref="pat:PageElementBasis" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PageElementBasisType">
			<xsd:sequence>
				<xsd:element ref="pat:PageNumberOriginalRangeText"/>
				<xsd:element ref="pat:PageNumberRangeText" maxOccurs="unbounded"/>
				<xsd:element ref="com:DocumentReceivedDate"/>
			</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="PageImage" type="pat:PageImageType">
		<xsd:annotation>
			<xsd:documentation>Page in image format. This is primarily to be used when data for the whole or major sections of an application are in image format.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="PageImageType">
		<xsd:sequence>
<xsd:element ref="com:ImageFormatCategory"/>
<xsd:element ref="com:FileName"/>
<xsd:element ref="com:HeightMeasure"/>
<xsd:element ref="com:WidthMeasure"/>
<xsd:element ref="com:Alt" minOccurs="0"/>
<xsd:element ref="com:ColourModeCategory" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
		<xsd:attribute ref="pat:firstPageNumber"/>
		<xsd:attribute ref="pat:lastPageNumber"/>
		<xsd:attribute ref="com:fileLocationURI"/>
		<xsd:attribute ref="com:orientationCategory" default="Portrait"/>
	</xsd:complexType>
	
<xsd:element name="PageNumberOriginalRangeText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Indicates the relevant page number or page number range that was originally filed</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PageNumberRangeText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Indicates the relevant page number or page number range that was received by amendment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="PatentClassificationBag" type="pat:PatentClassificationBagType">
		<xsd:annotation>
			<xsd:documentation>The collection of various standards used to classify novel subject matter</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="PatentClassificationBagType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element ref="pat:CPCClassificationBag"/>
			<xsd:element ref="pat:IPCClassification"/>
			<xsd:element ref="pat:ECLAClassificationBag"/>
			<xsd:element ref="pat:IPCRClassificationBag"/>
			<xsd:element ref="pat:NationalClassification"/>
			<xsd:element ref="com:LocarnoClassificationBag"/>
		</xsd:choice>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="PatentClassificationDataSourceCode" type="pat:PatentClassificationDataSourceCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes the method of how the allocation of the symbol was applied to the patent document.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="PatentClassificationDataSourceCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="H">
				<xsd:annotation>
					<xsd:documentation>Intellectual classification by person(Human)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:documentation>Machine classification by the propagation of earlier intellectual classification through the use of common priorities in the patent application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="G">
				<xsd:annotation>
					<xsd:documentation>Generated by automatic content analysis</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="PatentClassificationLevelCode" type="pat:PatentClassificationLevelCodeType">
		<xsd:annotation>
			<xsd:documentation>The code that describes level of classification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="PatentClassificationLevelCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Advanced</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Core</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:documentation>Subclass</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="PatentClassificationSymbolText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Full Symbol for patent classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PatentClassificationText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Free format text for patent classification</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PatentGrantIdentification" type="pat:PatentGrantIdentificationType">
		<xsd:annotation>
			<xsd:documentation>Identification of patent grant. Refers to ST.9 INID Code 10, INID Code 45.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="PatentGrantIdentificationType">
		<xsd:sequence>
			<xsd:element ref="com:IPOfficeCode"/>
			<xsd:element ref="pat:PatentNumber"/>
			<xsd:element ref="com:PublicationLanguageCode" minOccurs="0"/>
			<xsd:element ref="com:PatentDocumentKindCode" minOccurs="0"/>
			<xsd:element ref="pat:GrantDate" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="PatentNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Patent grant number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="PriorityClaimBasis" type="pat:PriorityClaimBasisType">
		<xsd:annotation>
			<xsd:documentation>Identifies whether a valid priority application has been provided or, why the priority application referenced was not considered</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="PriorityClaimBasisType">
		<xsd:sequence>
			<xsd:element ref="pat:PriorityClaimValidityCategory"/>
			<xsd:element ref="com:AdditionalRemark" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
	<xsd:element name="PriorityClaimValidityCategory" type="pat:PriorityClaimValidityCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of earliest priority validity which has been specified</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="PriorityClaimValidityCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="No valid priority claim considered">
				<xsd:annotation>
					<xsd:documentation>The validity of the priority claim has not been considered because the International Searching Authority does not have in its possession a copy of the earlier application whose priority has been claimed or, where required, a translation of that earlier application. This opinion has nevertheless been established on the assumption that the relevant date is the claimed priority date</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="No priority claim valid">
				<xsd:annotation>
					<xsd:documentation>This opinion has been established as if no priority had been claimed due to the fact that the priority claim has been found invalid. For the purposes of this opinion, the international filing date indicated above is considered to be the relevant date</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Copy earlier application not provided">
				<xsd:annotation>
					<xsd:documentation>The applicant has failed to provide a copy of the earlier application whose priority is the basis of this claim</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Translation earlier application not provided">
				<xsd:annotation>
					<xsd:documentation>There has been a failure to provide the translation of the earlier application whose priority is the basis of this claim</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="PriorityDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The priority date claimed by the applicant in respect of an associated application or patent</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ReplyDuePeriod" type="com:PeriodType">
		<xsd:annotation>
			<xsd:documentation>Maximum time period provided for a response by the applicant to the written opinion</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:attribute name="reportCategory" type="pat:ReportCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category for the type of examination report</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:simpleType name="ReportCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Written Opinion of the ISA">
				<xsd:annotation>
					<xsd:documentation>A Written Opinion as established by an International Searching Authority (ISA)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Written Opinion of the IPEA">
				<xsd:annotation>
					<xsd:documentation>A Written Opinion established by an International Preliminary Examination Authority (IPEA)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="International Preliminary Report on Patentability">
				<xsd:annotation>
					<xsd:documentation>A final examination report established after at least one Written Opinion established by an International Preliminary Examination Authority (IPEA)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="National or Regional Examination">
				<xsd:annotation>
					<xsd:documentation>A report established during national or regional phase examination</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
			<xsd:element name="ReportCoveredClaimBag" type="pat:ReportCoveredClaimBagType">
				<xsd:annotation>
					<xsd:documentation>Parts of the application that are covered by this report, either all parts or the parts relating to the claims indicated</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
	<xsd:complexType name="ReportCoveredClaimBagType">
		<xsd:choice>
			<xsd:element ref="pat:AllClaimIndicator"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="pat:ClaimNumber"/>
				<xsd:element ref="pat:ClaimNumberRange"/>
			</xsd:choice>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="ReportNotEstablishedReasonBag" type="pat:ReportNotEstablishedReasonBagType">
		<xsd:annotation>
			<xsd:documentation>Summary of reasons why no meaningful opinion could be provided in light of current elements within the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ReportNotEstablishedReasonBagType">
             <xsd:sequence>
                    <xsd:element ref="pat:ReportNotEstablishedReasonCategory" maxOccurs="unbounded"/>
                    <xsd:choice maxOccurs="unbounded">
                          <xsd:element ref="pat:ClaimNumber"/>
                          <xsd:element ref="pat:ClaimNumberRange"/>
                    </xsd:choice>
                    <xsd:element ref="pat:ReportNotEstablishedReasonText" minOccurs="0" maxOccurs="unbounded"/>
             </xsd:sequence>
             <xsd:attribute ref="com:id"/>
       </xsd:complexType>
	
	<xsd:element name="ReportNotEstablishedReasonCategory" type="pat:ReportNotEstablishedReasonCategoryType">
		<xsd:annotation>
			<xsd:documentation>Provides the reason why no meaningful opinion could be provided</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ReportNotEstablishedReasonCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="No examination report required">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the international application, or the specific claims numbers relate to subject matter which does not require an international search</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Unclear">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the description, claims or drawings or said claims numbers are so unclear that no meaningful opinion could be formed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Inadequately supported">
				<xsd:annotation>
					<xsd:documentation>Indicates whether the claims, or said claims numbers are so inadequately supported by the description that no meaningful opinion could be formed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Search report not established">
				<xsd:annotation>
					<xsd:documentation>Indicates that no international search report has been established for claim numbers specified</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="ReportNotEstablishedReasonText" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>Further detail is provided by the examiner to explains why the claims were so unclear that a report could not be established</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ReportNotEstablishedStatement" type="pat:ReportNotEstablishedStatementType">
		<xsd:annotation>
			<xsd:documentation>Statement indicating which elements are not considered as a basis for assessing novelty, inventive step or industrial applicability of the invention captured by the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ReportNotEstablishedStatementType">
		<xsd:sequence>
			<xsd:element ref="pat:ClaimNumberRangeNotConsidered"/>
			<xsd:element ref="pat:ReportNotEstablishedReasonBag" maxOccurs="unbounded"/>
			<xsd:element ref="pat:SEQLSearchBasisCategory" minOccurs="0"/>
			<xsd:element ref="com:AdditionalRemark" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
			<xsd:element name="ReviewRequestDuePeriod" type="com:PeriodType">
				<xsd:annotation>
					<xsd:documentation>The time period that the applicant can request the Authority to review its opinion</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
<xsd:element name="SearchReportRevisionIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicate whether this report is a revised version of a previously issued (supplementary) search report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="Section" type="pat:SectionType">
		<xsd:annotation>
			<xsd:documentation>The first or highest hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="SectionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Human Necessities</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="B">
				<xsd:annotation>
					<xsd:documentation>Performing Operations, Transporting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C">
				<xsd:annotation>
					<xsd:documentation>Chemistry, Metallurgy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>Textiles, Paper</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation>Fixed Constructions</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:documentation>Mechanical Engineering, Lighting, Heating, Weapons, Blasting</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="G">
				<xsd:annotation>
					<xsd:documentation>Physics</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="H">
				<xsd:annotation>
					<xsd:documentation>Electricity</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="SEQLBasis" type="pat:SEQLBasisType">
		<xsd:annotation>
			<xsd:documentation>Nucleotide and/or amino acid sequence(s)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="SEQLBasisType">
		<xsd:sequence>
<xsd:element ref="pat:SEQLSearchBasisCategory" maxOccurs="unbounded"/>
<xsd:element ref="pat:SEQLStatementFurnishedIndicator" minOccurs="0"/>
<xsd:element ref="com:AdditionalRemark" minOccurs="0"/>
		</xsd:sequence>
<xsd:attribute ref="com:id"/>
	</xsd:complexType>
	
<xsd:element name="SEQLSearchBasisCategory" type="pat:SEQLSearchBasisCategoryType">
		<xsd:annotation>
			<xsd:documentation>With regard to any nucleotide and/or amino acid sequence disclosed in the international application, the international search was carried out on the basis of a sequence listing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="SEQLSearchBasisCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Forming part of application as text file">
				<xsd:annotation>
					<xsd:documentation>Forming part of the international application as filed in the form of a text file
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Forming part of application as paper or image file">
				<xsd:annotation>
					<xsd:documentation>Forming part of the international application as filed on paper or in the form of an image file</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Together with application as text file">
				<xsd:annotation>
					<xsd:documentation>Furnished together with the application for the purposes of search only in the form of a text file</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Subsequent to application as text file">
				<xsd:annotation>
					<xsd:documentation>Furnished subsequent to the filing date for the purposes of search only in the form of a text file
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Subsequent to application as paper or image file">
				<xsd:annotation>
					<xsd:documentation>Furnished subsequent to the filing date for the purposes of search only on paper or in the form of an image file
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Amendment as paper or image file">
				<xsd:annotation>
					<xsd:documentation>Forming part of the international application as filed on pager or in the form of an image file
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Amendment as text file">
				<xsd:annotation>
					<xsd:documentation>Furnished together with the application for the purposes of search only in the form of a text file
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="SEQLStatementFurnishedIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indicate that if more than one version or copy of a sequence listing has been filed or furnished, the required statements that the information in the subsequent or additional copies is identical to that forming part of the application as filed or does not go beyond the application as filed, as appropriate, were furnished.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="SequenceCancelledIdentifier" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>Descriptive information provided by the examiner which identifies the sequence listing that has not been considered as the basis of this report</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="StatementClaimRangeType">
		<xsd:choice maxOccurs="2">
			<xsd:element ref="pat:CompliantClaimNumberRange"/>
			<xsd:element ref="pat:NotCompliantClaimNumberRange"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="Subclass" type="pat:SubclassType">
		<xsd:annotation>
			<xsd:documentation>The third highest hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="SubclassType">
		<xsd:restriction base="xsd:token">
			<xsd:length value="1"/>
			<xsd:pattern value="[A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="Subgroup" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The fifth hierarchical level in the classification scheme</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="SuccessorCategory" type="pat:SuccessorCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of the successor e.g. executor, legal heir</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="SuccessorCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Administrator">
				<xsd:annotation>
					<xsd:documentation>Administrator</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Administratrix">
				<xsd:annotation>
					<xsd:documentation>Administratrix</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Estate">
				<xsd:annotation>
					<xsd:documentation>Estate</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Executor">
				<xsd:annotation>
					<xsd:documentation>Executor</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Executors">
				<xsd:annotation>
					<xsd:documentation>Executors</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Executrix">
				<xsd:annotation>
					<xsd:documentation>Executrix</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Heir">
				<xsd:annotation>
					<xsd:documentation>Heir</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Heiress">
				<xsd:annotation>
					<xsd:documentation>Heiress</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Heirs">
				<xsd:annotation>
					<xsd:documentation>Heirs</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Legal heirs">
				<xsd:annotation>
					<xsd:documentation>Legal heirs</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Legal representative">
				<xsd:annotation>
					<xsd:documentation>Legal representative</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Legal representatives">
				<xsd:annotation>
					<xsd:documentation>Legal representatives</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="SuccessorRights" type="pat:SuccessorRightsType">
		<xsd:annotation>
			<xsd:documentation>This person is successor to the rights of an inventor who is deceased, insane, or legally incapacitated</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="SuccessorRightsText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>PII</xsd:appinfo>
			<xsd:documentation>Text describing successor rights</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="SuccessorRightsType">
		<xsd:sequence>
<xsd:element ref="pat:SuccessorRightsText" minOccurs="0"/>
<xsd:element ref="pat:SuccessorCategory"/>
		</xsd:sequence>
		<xsd:attribute ref="pat:applicantSequenceNumberReference"/>
		<xsd:attribute ref="com:id"/>
		<xsd:attribute ref="com:idref"/>
	</xsd:complexType>
	
	<xsd:element name="SupplementarySearchAuthorityBag" type="pat:SupplementarySearchAuthorityBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of supplementary search authorities who conducted a relevant supplementary search</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="SupplementarySearchAuthorityBagType">
		<xsd:sequence>
			<xsd:element ref="pat:SupplementarySearchAuthorityCode" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="SupplementarySearchAuthorityCode" type="com:ExtendedWIPOST3CodeType">
		<xsd:annotation>
			<xsd:documentation>Information regarding the search authority who conducted a relevant supplementary search</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
		<xsd:element name="TopUpSearch" type="pat:TopUpSearchType">
		<xsd:annotation>
			<xsd:documentation>Additional information regarding top-up search reports</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="TopUpSearchBag" type="pat:TopUpSearchBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of additional information regarding top-up search reports</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="TopUpSearchBagType">
		<xsd:sequence>
<xsd:element ref="pat:TopUpSearch" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="TopUpSearchBasis" type="pat:TopUpSearchBasisType">
		<xsd:annotation>
			<xsd:documentation>Information on whether or not a top up search was conducted after consideration of earlier search results and if yes, if any new relevant documents were discovered and the date of the search</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="TopUpSearchBasisType">
		<xsd:choice>
			<xsd:element ref="pat:NoTopUpSearchIndicator"/>
			<xsd:element ref="pat:TopUpSearchBag"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="TopUpSearchDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>The date on which the examiner conducted an additional search as the prior search was not considered comprehensive</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="TopUpSearchType">
		<xsd:sequence>
			<xsd:element ref="pat:TopUpSearchDate"/>
			<xsd:element ref="pat:AdditionalRelevantDocumentIndicator"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="TranslationLanguageCode" type="pat:TranslationLanguageCodeType">
		<xsd:annotation>
			<xsd:documentation>With regard to the language, the international search was carried out on the basis of a translation of the international application into another language which is the language of a translation furnished for the purposes of international search (Rules 12.3(a) and 23.1(b)).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="TranslationLanguageCodeType">
		<xsd:simpleContent>
			<xsd:extension base="com:ISOLanguageCodeType">
<xsd:attribute ref="pat:translationPurposeCategory"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
<xsd:attribute name="translationPurposeCategory" type="pat:TranslationPurposeCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of the purpose of translation of patent document</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:simpleType name="TranslationPurposeCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Search">
				<xsd:annotation>
					<xsd:documentation>Search</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Publication">
				<xsd:annotation>
					<xsd:documentation>Publication</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Supplementary search">
				<xsd:annotation>
					<xsd:documentation>Supplementary search</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Examination">
				<xsd:annotation>
					<xsd:documentation>Examination</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>