data/ST96XMLSchema_V6_0_Flattened/HagueIBToOfficeTransaction_V6_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:com="http://www.wipo.int/standards/XMLSchema/ST96/Common" xmlns:dgn="http://www.wipo.int/standards/XMLSchema/ST96/Design" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wipo.int/standards/XMLSchema/ST96/Design" elementFormDefault="qualified" attributeFormDefault="qualified" version="V6_0">
	<xsd:import namespace="http://www.wipo.int/standards/XMLSchema/ST96/Common" schemaLocation="HagueIBToOfficeTransaction_V6_0_Common.xsd"/>

	<xsd:annotation>
		<xsd:appinfo>
			<com:SchemaCreatedDate>2016-08-12</com:SchemaCreatedDate>
			<com:SchemaLastModifiedDate>2022-10-03</com:SchemaLastModifiedDate>
			<com:SchemaContactPoint>xml.standards@wipo.int</com:SchemaContactPoint>
			<com:SchemaReleaseNoteURL>http://www.wipo.int/standards/XMLSchema/ST96/V6_0/ReleaseNotes.pdf</com:SchemaReleaseNoteURL>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="HagueIBToOfficeTransaction" type="dgn:HagueIBToOfficeTransactionType">
		<xsd:annotation>
			<xsd:documentation>Hague IB to Office Transaction (Hague System related transaction from the International Bureau of WIPO to IP Offices)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="HagueIBToOfficeTransactionType">
		<xsd:choice>
			<xsd:element ref="dgn:HagueBulletin"/>
			<xsd:element ref="dgn:HagueIBToOfficeBag"/>
		</xsd:choice>
		<xsd:attribute ref="com:st96Version" use="required"/>
		<xsd:attribute ref="com:ipoVersion"/>
	</xsd:complexType>
	
	<xsd:element name="AffectedDesign" type="dgn:AffectedDesignType">
		<xsd:annotation>
			<xsd:documentation>Design affected by the decision, either all designs or enumeration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="AffectedDesignType">
		<xsd:choice>
<xsd:element ref="dgn:AllDesignsIndicator"/>
<xsd:element ref="dgn:DesignIdentifierBag"/>
		</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="AllDesignsIndicator" type="xsd:boolean" fixed="true">
		<xsd:annotation>
			<xsd:documentation>Indicates that the transaction affects all the designs in the international registration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="Amendment" type="com:PhraseType">
		<xsd:annotation>
			<xsd:documentation>Indication of amendments when the design was amended in a procedure before the Office</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ApplicantContractingParty" type="com:ExtendedWIPOST3CodeType">
		<xsd:annotation>
			<xsd:documentation>ST3 country code selected among the applicant's entitlement country codes. It may be necessary for some agreements such as the Hague agreement, 1999 Act, for the international registration of industrial designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ApplicantType">
		<xsd:sequence>
			<xsd:element ref="com:NationalityCode" minOccurs="0"/>
			<xsd:element ref="com:LegalEntityName" minOccurs="0"/>
			<xsd:element ref="com:IncorporationCountryCode" minOccurs="0"/>
			<xsd:element ref="com:IncorporationState" minOccurs="0"/>
			<xsd:element ref="com:CommentText" minOccurs="0"/>
			<xsd:element ref="dgn:Entitlement" minOccurs="0"/>
			<xsd:element ref="dgn:ApplicantContractingParty" minOccurs="0"/>
			<xsd:element ref="com:Version" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="com:PartyIdentifier"/>
				<xsd:element ref="com:Contact"/>
				<xsd:element ref="com:PublicationContact"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute ref="com:operationCategory"/>
		<xsd:attribute ref="com:sequenceNumber"/>
	</xsd:complexType>
	
	<xsd:element name="BusinessEntityStatusClaim" type="dgn:BusinessEntityStatusClaimType">
		<xsd:annotation>
			<xsd:documentation>A claim made by an applicant to qualify for a reduction of fees based on their economic status</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="BusinessEntityStatusClaimBag" type="dgn:BusinessEntityStatusClaimBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of claims made by an applicant to qualify for a reduction of fees based on their economic status</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="BusinessEntityStatusClaimBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:BusinessEntityStatusClaim" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="BusinessEntityStatusClaimType">
	<xsd:sequence>
		<xsd:element ref="com:BusinessEntityStatusCategory"/>
		<xsd:element ref="com:DesignatedCountryCode"/>
	</xsd:sequence>
</xsd:complexType>
	
<xsd:element name="ChildRegistrationNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The number of the assigned part of the international registration, where applicable</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="CorrectedRecordIdentifier" type="com:IdentifierType">
		<xsd:annotation>
			<xsd:documentation>The record identifier of the corrected transaction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DecisionGrounds" type="dgn:DecisionGroundsType">
		<xsd:annotation>
			<xsd:documentation>Data which describes the grounds on which the decision has been made</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DecisionGroundsBag" type="dgn:DecisionGroundsBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of grounds for the decision</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="DecisionGroundsBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:DecisionGrounds" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DecisionGroundsCategory" type="dgn:DecisionGroundsCategoryType">
		<xsd:annotation>
			<xsd:documentation>Indicates the category of grounds for a particular decision. This information is not authoritative and serves only for statistics and classification purposes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="DecisionGroundsCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Insufficient disclosure">
				<xsd:annotation>
					<xsd:documentation>The representation of the design does not disclose sufficiently or adequately the scope for which protection is sought</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Conflicting application or registration">
				<xsd:annotation>
					<xsd:documentation>A prior or concurrent application or a prior registration conflicts with the present application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ambiguous product indication">
				<xsd:annotation>
					<xsd:documentation>The product indication is ambiguous</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Lack of novelty">
				<xsd:annotation>
					<xsd:documentation>The design does not meet the novelty criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Lack of creativity">
				<xsd:annotation>
					<xsd:documentation>The design does not meet the creativity criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Noncompliance with design definition">
				<xsd:annotation>
					<xsd:documentation>The represented subject does not meet the legal definition of a design</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Public order">
				<xsd:annotation>
					<xsd:documentation>The design is contrary to public order or morality</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Lack of unity">
				<xsd:annotation>
					<xsd:documentation>The design does not meet the criteria of unity (of design, of production, of use, etc.)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Other">
				<xsd:annotation>
					<xsd:documentation>The ground of refusal is not defined in the Decision Grounds Category</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
			<xsd:element name="DecisionGroundsText" type="com:OrderedTextType">
				<xsd:annotation>
							<xsd:appinfo>PII</xsd:appinfo>
					<xsd:documentation>Text which describes the grounds on which the decision has been made</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
	<xsd:complexType name="DecisionGroundsType">
		<xsd:sequence>
			<xsd:element ref="dgn:DecisionGroundsText" maxOccurs="unbounded"/>
			<xsd:element ref="dgn:DecisionGroundsCategory" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="DecisionRemedyText" type="com:OrderedTextType">
		<xsd:annotation>
			<xsd:documentation>Text which provides instructions on how to follow up on applying this decision</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DecisionRemedyTextBag" type="dgn:DecisionRemedyTextBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of decision remedy text elements</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DecisionRemedyTextBagType">
		<xsd:sequence>
<xsd:element ref="dgn:DecisionRemedyText" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="DefermentExpiryDate" type="com:DateType">
		<xsd:annotation>
			<xsd:documentation>Date of the expiry of the deferment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="DesignatedCountry" type="dgn:DesignatedCountryType">
		<xsd:annotation>
			<xsd:documentation>Designated contracting party for international designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="DesignatedCountryBag" type="dgn:DesignatedCountryBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of designated countries for international designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DesignatedCountryBagType">
		<xsd:sequence>
<xsd:element ref="dgn:DesignatedCountry" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="DesignatedCountryType">
		<xsd:sequence>
<xsd:element ref="com:DesignatedCountryCode"/>
<xsd:element ref="dgn:HagueAgreementActCategory" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DesignClaim" type="dgn:DesignClaimType">
		<xsd:annotation>
			<xsd:documentation>Matter for which design protection is sought</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DesignClaimBag" type="dgn:DesignClaimBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of design claims</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="DesignClaimBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignClaim" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="DesignClaimText" type="com:OrderedTextType">
				<xsd:annotation>
					<xsd:documentation>Description of a claim sought for design protection provided in a particular language</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
	<xsd:element name="DesignClaimTextBag" type="dgn:DesignClaimTextBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of multiple language descriptions for design claims</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="DesignClaimTextBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignClaimText" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DesignClaimType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignClaimTextBag"/>
			<xsd:element ref="com:DesignatedCountryCode" minOccurs="0"/>
			<xsd:element ref="dgn:AffectedDesign" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="DesignDescriptionText" type="com:OrderedTextType">
		<xsd:annotation>
			<xsd:documentation>Textual description of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DesignDescriptionTextBag" type="dgn:DesignDescriptionTextBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of design descriptions for multi-language entries</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DesignDescriptionTextBagType">
		<xsd:sequence>
<xsd:element ref="dgn:DesignDescriptionText" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="Designer" type="dgn:DesignerType">
		<xsd:annotation>
			<xsd:documentation>Data regarding the designer or the team of designers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="DesignerBag" type="dgn:DesignerBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of designers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DesignerBagType">
			<xsd:choice>
<xsd:element ref="com:PartyIdentifierBag" maxOccurs="unbounded"/>
<xsd:element ref="dgn:Designer" maxOccurs="unbounded"/>
			</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="DesignerChangeBag" type="dgn:DesignerChangeBagType">
		<xsd:annotation>
			<xsd:documentation>Details of the previous and the new designer/creator</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="DesignerChangeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:PreviousDesignerBag">
				<xsd:annotation>
					<xsd:documentation>A collection of the previous designer/creator of the design</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
<xsd:element ref="dgn:DesignerBag"/>
<xsd:element ref="dgn:AffectedDesign"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DesignerType">
		<xsd:sequence>
			<xsd:element ref="com:NationalityCode" minOccurs="0"/>
			<xsd:element ref="com:CommentText" minOccurs="0"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="com:PartyIdentifier"/>
				<xsd:element ref="com:Contact"/>
				<xsd:element ref="com:PublicationContact"/>
			</xsd:choice>
			<xsd:element ref="com:ConfidentialIndicator" minOccurs="0"/>
			<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="com:operationCategory"/>
		<xsd:attribute ref="com:sequenceNumber"/>
	</xsd:complexType>
	
<xsd:element name="DesignIdentifier" type="com:IdentifierType">
		<xsd:annotation>
			<xsd:documentation>Identifier of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="DesignIdentifierBag" type="dgn:DesignIdentifierBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of identifiers identifying the designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="DesignIdentifierBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignIdentifier" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="DesignTotalQuantity" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>Total number of designs contained in the application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="Entitlement" type="dgn:EntitlementType">
		<xsd:annotation>
			<xsd:documentation>Information on the nationality, establishment, or domicile of a party</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="EntitlementType">
		<xsd:choice maxOccurs="unbounded">
<xsd:element ref="com:EntitlementNationalityCode"/>
<xsd:element ref="dgn:HabitualResidence"/>
<xsd:element ref="com:EntitlementEstablishment"/>
<xsd:element ref="com:EntitlementDomiciled"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="ExceptionLackNoveltyDeclaration" type="dgn:ExceptionLackNoveltyDeclarationType">
		<xsd:annotation>
			<xsd:documentation>Declaration concerning exception to lack of novelty</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ExceptionLackNoveltyDeclarationBag" type="dgn:ExceptionLackNoveltyDeclarationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of exception lack novelty declarations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ExceptionLackNoveltyDeclarationBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:ExceptionLackNoveltyDeclaration" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ExceptionLackNoveltyDeclarationType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignatedCountryBag"/>
			<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HabitualResidence" type="dgn:HabitualResidenceType">
		<xsd:annotation>
			<xsd:documentation>Data on the Habitual residence of the applicant, transferee or holder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HabitualResidenceCode" type="com:ExtendedWIPOST3CodeType">
		<xsd:annotation>
			<xsd:documentation>Country code of the habitual residence of the applicant, transferee or holder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HabitualResidenceType">
		<xsd:choice maxOccurs="2">
<xsd:element ref="dgn:HabitualResidenceCode"/>
<xsd:element ref="com:Contact"/>
		</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="HagueAcknowledgementReceipt" type="dgn:HagueAcknowledgementReceiptType">
		<xsd:annotation>
			<xsd:documentation>Transactional element used to automatically acknowledge receipt of Office to IB transactions
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueAcknowledgementReceiptBag" type="dgn:HagueAcknowledgementReceiptBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of acknowledgement receipts</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueAcknowledgementReceiptBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueAcknowledgementReceipt" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueAcknowledgementReceiptType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber" minOccurs="0"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:RecordFilingDate" minOccurs="0"/>
<xsd:element ref="dgn:HagueOfficeTransactionCategory"/>
<xsd:element ref="com:ApplicantFileReference" minOccurs="0"/>
<xsd:element ref="com:OfficeReferenceIdentifier"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueAgreementActCategory" type="dgn:HagueAgreementActCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of different Acts of the Hague Agreement concerning the international registration of industrial design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="HagueAgreementActCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Act1999">
				<xsd:annotation>
					<xsd:documentation>Hague agreement 1999 Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Act1960">
				<xsd:annotation>
					<xsd:documentation>Hague agreement 1960 Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Act1934">
				<xsd:annotation>
					<xsd:documentation>Hague agreement 1934 Act</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="HagueBulletin" type="dgn:HagueBulletinType">
		<xsd:annotation>
			<xsd:documentation>Official notification concerning the International Design Register. Transactions are to be processed in the order that they appear in this schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueBulletinNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Identifier of an issue (edition) of the Hague Designs Bulletin composed of the year number, followed by the issue number (e.g. 2017/03).</xsd:documentation>
		</xsd:annotation>
</xsd:element>
	
<xsd:element name="HagueBulletinReference" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Reference to the original issue (edition) of the Hague Designs Bulletin of the transaction that this transaction is referring to.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueBulletinTransactionBag" type="dgn:HagueBulletinTransactionBagType">
				<xsd:annotation>
					<xsd:documentation>Collection of bulletin transactions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
<xsd:complexType name="HagueBulletinTransactionBagType">
		<xsd:choice maxOccurs="19">
<xsd:element ref="dgn:HagueRegistrationBag"/>
<xsd:element ref="dgn:HagueRenewalBag"/>
<xsd:element ref="dgn:HagueExpirationBag"/>
<xsd:element ref="dgn:HagueOwnershipChangeBag"/>
<xsd:element ref="dgn:HagueOwnershipChangeRefusalBag"/>
<xsd:element ref="dgn:HagueOwnershipChangeRefusalWithdrawalBag"/>
<xsd:element ref="dgn:HagueMergerBag"/>
<xsd:element ref="dgn:HagueHolderNameAddressChangeBag"/>
<xsd:element ref="dgn:HagueCreatorNameAddressChangeBag"/>
<xsd:element ref="dgn:HagueRenunciationBag"/>
<xsd:element ref="dgn:HagueLimitationBag"/>
<xsd:element ref="dgn:HagueRefusalBag"/>
<xsd:element ref="dgn:HagueRefusalWithdrawalBag"/>
<xsd:element ref="dgn:HagueGrantProtectionBag"/>
<xsd:element ref="dgn:HagueInvalidationBag"/>
<xsd:element ref="dgn:HagueCancellationNonPaymentBag"/>
<xsd:element ref="dgn:HagueCorrectionBag"/>
<xsd:element ref="dgn:HagueCorrectionRefusalBag"/>
<xsd:element ref="dgn:HagueCorrectionRefusalWithdrawalBag"/>
		</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="HagueBulletinTransactionCategory" type="dgn:HagueBulletinTransactionCategoryType">
		<xsd:annotation>
			<xsd:documentation>Hague Bulletin transaction category</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="HagueBulletinTransactionCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Registration">
				<xsd:annotation>
					<xsd:documentation>Registration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Renewal">
				<xsd:annotation>
					<xsd:documentation>Renewal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Expiration">
				<xsd:annotation>
					<xsd:documentation>Expiration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ownership change">
				<xsd:annotation>
					<xsd:documentation>Ownership change</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ownership change refusal">
				<xsd:annotation>
					<xsd:documentation>Ownership change refusal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Merger">
				<xsd:annotation>
					<xsd:documentation>Merger</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Holder name address change">
				<xsd:annotation>
					<xsd:documentation>Holder name address change</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Creator name address change">
				<xsd:annotation>
					<xsd:documentation>Creator name address change</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Renunciation">
				<xsd:annotation>
					<xsd:documentation>Renunciation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Limitation">
				<xsd:annotation>
					<xsd:documentation>Limitation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Refusal">
				<xsd:annotation>
					<xsd:documentation>Refusal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Refusal withdrawal">
				<xsd:annotation>
					<xsd:documentation>Refusal withdrawal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Grant protection">
				<xsd:annotation>
					<xsd:documentation>Grant protection</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Invalidation">
				<xsd:annotation>
					<xsd:documentation>Invalidation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Cancellation non payment">
				<xsd:annotation>
					<xsd:documentation>Cancellation non payment</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Correction">
				<xsd:annotation>
					<xsd:documentation>Correction</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Correction refusal ">
				<xsd:annotation>
					<xsd:documentation>Correction refusal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Publication cancellation">
				<xsd:annotation>
					<xsd:documentation>Publication cancellation. Applies to Office Copies only</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Correction refusal withdrawal">
				<xsd:annotation>
					<xsd:documentation>Correction refusal withdrawal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Ownership change refusal withdrawal">
				<xsd:annotation>
					<xsd:documentation>Ownership change refusal withdrawal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
						<xsd:enumeration value="Second part fee paid">
				<xsd:annotation>
					<xsd:documentation>Second part fee paid</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
						<xsd:enumeration value="Second part fee not paid">
				<xsd:annotation>
					<xsd:documentation>Second part fee not paid</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="HagueBulletinTransactionCount" type="dgn:HagueBulletinTransactionCountType">
		<xsd:annotation>
			<xsd:documentation>Hague Bulletin transaction count</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueBulletinTransactionCountBag" type="dgn:HagueBulletinTransactionCountBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of Hague Bulletin transaction counts</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueBulletinTransactionCountBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueBulletinTransactionCount" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueBulletinTransactionCountType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueBulletinTransactionCategory"/>
<xsd:element ref="com:TransactionTotalQuantity"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueBulletinTransactionHeader" type="dgn:HagueBulletinTransactionHeaderType">
		<xsd:annotation>
			<xsd:documentation>Counts of transactions of the Hague Bulletin transactions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="HagueBulletinTransactionHeaderType">
		<xsd:sequence>
			<xsd:element ref="dgn:HagueBulletinNumber"/>
			<xsd:element ref="com:PublicationDate"/>
			<xsd:element ref="com:TransactionTotalQuantity"/>
			<xsd:element ref="dgn:HagueBulletinTransactionCountBag"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueBulletinType">
		<xsd:sequence>
			<xsd:element ref="dgn:HagueBulletinTransactionHeader"/>
			<xsd:element ref="dgn:HagueBulletinTransactionBag"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueCancellationNonPayment" type="dgn:HagueCancellationNonPaymentType">
		<xsd:annotation>
			<xsd:documentation>Request for cancellation of an international registration for non-payment of the second part of the designation fee</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCancellationNonPaymentBag" type="dgn:HagueCancellationNonPaymentBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of cancellations for non payment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCancellationNonPaymentBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCancellationNonPayment" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="HagueCancellationNonPaymentType">
			<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="dgn:AffectedDesign" minOccurs="0"/>
<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	
<xsd:element name="HagueCorrectContent" type="dgn:HagueCorrectContentType">
		<xsd:annotation>
			<xsd:documentation>A transaction that was previously submitted with incorrect data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCorrectContentType">
			<xsd:choice>
<xsd:element ref="dgn:HagueRegistration"/>
<xsd:element ref="dgn:HagueRenewal"/>
<xsd:element ref="dgn:HagueExpiration"/>
<xsd:element ref="dgn:HagueOwnershipChange"/>
<xsd:element ref="dgn:HagueOwnershipChangeRefusal"/>
<xsd:element ref="dgn:HagueOwnershipChangeRefusalWithdrawal"/>
<xsd:element ref="dgn:HagueMerger"/>
<xsd:element ref="dgn:HagueHolderNameAddressChange"/>
<xsd:element ref="dgn:HagueCreatorNameAddressChange"/>
<xsd:element ref="dgn:HagueRenunciation"/>
<xsd:element ref="dgn:HagueLimitation"/>
<xsd:element ref="dgn:HagueRefusal"/>
<xsd:element ref="dgn:HagueRefusalWithdrawal"/>
<xsd:element ref="dgn:HagueGrantProtection"/>
<xsd:element ref="dgn:HagueInvalidation"/>
<xsd:element ref="dgn:HagueCancellationNonPayment"/>
<xsd:element ref="dgn:HagueCorrectionRefusal"/>
<xsd:element ref="dgn:HagueCorrectionRefusalWithdrawal"/>
			</xsd:choice>
	</xsd:complexType>
	
<xsd:element name="HagueCorrectedElement" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the element that has been corrected</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCorrectedElementBag" type="dgn:HagueCorrectedElementBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of elements that have been corrected in the transaction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCorrectedElementBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCorrectedElement" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueCorrectedTransactionCategory" type="dgn:HagueBulletinTransactionCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of the transaction that is being corrected. Required for correction processing order</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCorrection" type="dgn:HagueCorrectionType">
		<xsd:annotation>
			<xsd:documentation>Corrections to Hague bulletin transactions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCorrectionBag" type="dgn:HagueCorrectionBagType">
		<xsd:annotation>
			<xsd:documentation>Correction to the international design register</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCorrectionBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCorrection" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueCorrectionRefusal" type="dgn:HagueCorrectionRefusalType">
		<xsd:annotation>
			<xsd:documentation>Refusal by a Contracting Party of the effects of a correction to the international design register</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCorrectionRefusalBag" type="dgn:HagueCorrectionRefusalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of refusals of corrections</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCorrectionRefusalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCorrectionRefusal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueCorrectionRefusalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="dgn:CorrectedRecordIdentifier"/>
<xsd:element ref="dgn:HagueBulletinReference"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:AffectedDesign"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueCorrectionRefusalWithdrawal" type="dgn:HagueCorrectionRefusalWithdrawalType">
		<xsd:annotation>
			<xsd:documentation>Withdrawal of a refusal by a Contracting Party of the effects of a correction Refusals of Correction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCorrectionRefusalWithdrawalBag" type="dgn:HagueCorrectionRefusalWithdrawalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of withdrawals of refusals of correction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCorrectionRefusalWithdrawalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCorrectionRefusalWithdrawal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueCorrectionRefusalWithdrawalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="dgn:CorrectedRecordIdentifier"/>
<xsd:element ref="dgn:HagueBulletinReference"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueCorrectionType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:IncorrectRecordIdentifier"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
<xsd:element ref="dgn:HagueCorrectedTransactionCategory"/>
<xsd:element ref="dgn:HagueBulletinReference"/>
<xsd:element ref="com:CorrectionDescriptionTextBag" minOccurs="0"/>
<xsd:element ref="dgn:HagueIncorrectContent" minOccurs="0"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="dgn:HagueCorrectedElementBag"/>
						<xsd:element ref="dgn:HagueCorrectContent"/>
					</xsd:sequence>
<xsd:element ref="dgn:TransactionCancelledIndicator"/>
				</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueCreatorNameAddressChange" type="dgn:HagueCreatorNameAddressChangeType">
		<xsd:annotation>
			<xsd:documentation>Change in name and/or address of the creator of an international design registration
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueCreatorNameAddressChangeBag" type="dgn:HagueCreatorNameAddressChangeBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of creator name address changes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueCreatorNameAddressChangeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueCreatorNameAddressChange" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueCreatorNameAddressChangeType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumberBag"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag"/>
<xsd:element ref="dgn:DesignerChangeBag"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="HagueDesign" type="dgn:HagueDesignType">
		<xsd:annotation>
			<xsd:documentation>Hague data regarding the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="HagueDesignBag" type="dgn:HagueDesignBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="HagueDesignBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:HagueDesign" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueDesignType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignIdentifier"/>
			<xsd:element ref="dgn:ViewTotalQuantity" minOccurs="0"/>
<xsd:element ref="com:LocarnoClassificationBag"/>
<xsd:element ref="com:ProductDescriptionTextBag"/>
			<xsd:element ref="dgn:DesignDescriptionTextBag" minOccurs="0"/>
			<xsd:element ref="dgn:DesignerBag" minOccurs="0"/>
<xsd:element ref="dgn:PriorityBag" minOccurs="0"/>
			<xsd:element ref="com:ExhibitionPriorityBag" minOccurs="0"/>
			<xsd:element ref="dgn:ExceptionLackNoveltyDeclarationBag" minOccurs="0"/>
			<xsd:element ref="dgn:PrincipalDesignRelationBag" minOccurs="0"/>
			<xsd:element ref="dgn:ViewBag"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueExpiration" type="dgn:HagueExpirationType">
		<xsd:annotation>
			<xsd:documentation>Registrations that have not been renewed and that passed the grace period
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueExpirationBag" type="dgn:HagueExpirationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of expirations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueExpirationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueExpiration" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueExpirationType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueGrantProtection" type="dgn:HagueGrantProtectionType">
		<xsd:annotation>
			<xsd:documentation>Statement to the effect that protection is granted to some or all of the designs contained in the international registration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueGrantProtectionBag" type="dgn:HagueGrantProtectionBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of grants of protection</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueGrantProtectionBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueGrantProtection" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueGrantProtectionType">
		<xsd:sequence>
			<xsd:element ref="com:InternationalRegistrationNumber"/>
			<xsd:element ref="com:RecordIdentifier"/>
			<xsd:element ref="com:InternationalRecordingDate"/>
			<xsd:element ref="com:RecordNotifyingOfficeCode"/>
			<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
			<xsd:element ref="com:DecisionDate"/>
			<xsd:element ref="com:DecisionEffectiveDate" minOccurs="0"/>
			<xsd:element ref="dgn:AffectedDesign"/>
			<xsd:element ref="dgn:Amendment" minOccurs="0"/>
			<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
			<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
			<xsd:element ref="com:CommentText" minOccurs="0"/>
			<xsd:element ref="com:InternationalFilingDate" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="dgn:priorRefusalIndicator"/>
	</xsd:complexType>
	
<xsd:element name="HagueHolderNameAddressChange" type="dgn:HagueHolderNameAddressChangeType">
		<xsd:annotation>
			<xsd:documentation>Change in name and/or address of the holder of an international design registration
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueHolderNameAddressChangeBag" type="dgn:HagueHolderNameAddressChangeBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of holder name address changes</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueHolderNameAddressChangeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueHolderNameAddressChange" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueHolderNameAddressChangeType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumberBag"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
<xsd:element ref="dgn:HolderChangeBag"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueIBToOfficeBag" type="dgn:HagueIBToOfficeBagType">
		<xsd:annotation>
			<xsd:documentation>Electronic Notification to a contracting party</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueIBToOfficeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueIBTransactionHeader">
				<xsd:annotation>
					<xsd:documentation>Counts of the Hague IB To Office transactions</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice maxOccurs="3">
<xsd:element ref="dgn:HagueOfficeCopyBag"/>
<xsd:element ref="dgn:HagueAcknowledgementReceiptBag"/>
<xsd:element ref="dgn:HagueIrregularityNotificationBag"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueIBTransactionCategory" type="dgn:HagueIBTransactionCategoryType">
		<xsd:annotation>
			<xsd:documentation>Hague IB to office transaction category</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="HagueIBTransactionCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Office copy">
				<xsd:annotation>
					<xsd:documentation>Office copy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Acknowledgement receipt">
				<xsd:annotation>
					<xsd:documentation>Acknowledgement receipt</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Irregularity notification">
				<xsd:annotation>
					<xsd:documentation>Irregularity notification</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="HagueIBTransactionCount" type="dgn:HagueIBTransactionCountType">
		<xsd:annotation>
			<xsd:documentation>Hague IB transaction count</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueIBTransactionCountBag" type="dgn:HagueIBTransactionCountBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of Hague IB transaction counts</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueIBTransactionCountBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueIBTransactionCount" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueIBTransactionCountType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueIBTransactionCategory"/>
<xsd:element ref="com:TransactionTotalQuantity"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueIBTransactionHeader" type="dgn:HagueIBTransactionHeaderType">
		<xsd:annotation>
			<xsd:documentation>Counts of transactions of the Hague IB To Office transactions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueIBTransactionHeaderType">
		<xsd:sequence>
<xsd:element ref="com:ReceivingOfficeCode"/>
<xsd:element ref="com:PublicationIdentifier" minOccurs="0"/>
<xsd:element ref="com:RecordNotificationDate"/>
<xsd:element ref="com:TransactionTotalQuantity"/>
<xsd:element ref="dgn:HagueIBTransactionCountBag"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueIncorrectContent" type="dgn:HagueIncorrectContentType">
		<xsd:annotation>
			<xsd:documentation>A transaction that was previously submitted with incorrect data</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueIncorrectContentType">
			<xsd:choice>
<xsd:element ref="dgn:HagueRegistration"/>
<xsd:element ref="dgn:HagueRenewal"/>
<xsd:element ref="dgn:HagueExpiration"/>
<xsd:element ref="dgn:HagueOwnershipChange"/>
<xsd:element ref="dgn:HagueOwnershipChangeRefusal"/>
<xsd:element ref="dgn:HagueMerger"/>
<xsd:element ref="dgn:HagueHolderNameAddressChange"/>
<xsd:element ref="dgn:HagueCreatorNameAddressChange"/>
<xsd:element ref="dgn:HagueRenunciation"/>
<xsd:element ref="dgn:HagueLimitation"/>
<xsd:element ref="dgn:HagueRefusal"/>
<xsd:element ref="dgn:HagueRefusalWithdrawal"/>
<xsd:element ref="dgn:HagueGrantProtection"/>
<xsd:element ref="dgn:HagueInvalidation"/>
<xsd:element ref="dgn:HagueCancellationNonPayment"/>
<xsd:element ref="dgn:HagueCorrectionBag"/>
<xsd:element ref="dgn:HagueCorrectionRefusal"/>
<xsd:element ref="dgn:HagueCorrectionRefusalWithdrawal"/>
			</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="HagueInvalidation" type="dgn:HagueInvalidationType">
		<xsd:annotation>
			<xsd:documentation>Invalidation of international registration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueInvalidationBag" type="dgn:HagueInvalidationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of invalidations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueInvalidationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueInvalidation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueInvalidationType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="com:DecisionDate"/>
<xsd:element ref="com:DecisionEffectiveDate" minOccurs="0"/>
<xsd:element ref="dgn:AffectedDesign"/>
<xsd:element ref="dgn:DecisionRemedyTextBag" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	
<xsd:element name="HagueIrregularityNotification" type="dgn:HagueIrregularityNotificationType">
		<xsd:annotation>
			<xsd:documentation>Notification of irregularity in an international design or in a decision sent by the office</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueIrregularityNotificationBag" type="dgn:HagueIrregularityNotificationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of irregularity notifications</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueIrregularityNotificationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueIrregularityNotification" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueIrregularityNotificationType">
		<xsd:sequence>
			<xsd:element ref="com:RecordIdentifier"/>
			<xsd:element ref="dgn:HagueOfficeTransactionCategory"/>
			<xsd:element ref="com:ApplicantFileReference" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="com:OfficeReferenceIdentifier"/>
					<xsd:element ref="com:InternationalRegistrationNumber" minOccurs="0"/>
					<xsd:element ref="com:ApplicationNumber" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="com:InternationalRegistrationNumber"/>
					<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
					<xsd:element ref="com:ApplicationNumber" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="com:ApplicationNumber"/>
					<xsd:element ref="com:InternationalRegistrationNumber" minOccurs="0"/>
					<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="com:CorrespondenceAddress"/>
					<xsd:element ref="dgn:DecisionGroundsBag"/>
					<xsd:element ref="com:ResponseDueDate"/>
					<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="com:DocumentIncludedBag"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueLimitation" type="dgn:HagueLimitationType">
		<xsd:annotation>
			<xsd:documentation>Limitation of some designs contained in an international design registration with respect to some or all of the designated Contracting Parties
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueLimitationBag" type="dgn:HagueLimitationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of limitations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueLimitationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueLimitation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueLimitationType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumberBag"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:DesignatedCountryBag" minOccurs="0"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
<xsd:element ref="dgn:DesignIdentifierBag"/>
<xsd:element ref="dgn:HolderBag" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueMerger" type="dgn:HagueMergerType">
		<xsd:annotation>
			<xsd:documentation>Merger of international design registrations
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueMergerBag" type="dgn:HagueMergerBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of mergers</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueMergerBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueMerger" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueMergerType">
		<xsd:sequence>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
<xsd:element ref="com:MergeFromInternationalRegistrationNumber"/>
<xsd:element ref="com:MergeToInternationalRegistrationNumber"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueOfficeCopyBag" type="dgn:HagueOfficeCopyBagType">
		<xsd:annotation>
			<xsd:documentation>Copies of international registrations, related changes and supplementary documents sent to designated IP Offices before (confidential copy) or after the publication in the Bulletin
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueOfficeCopyBagType">
		<xsd:choice maxOccurs="unbounded">
<xsd:element ref="dgn:HagueRegistrationBag"/>
<xsd:element ref="dgn:HagueOwnershipChangeBag"/>
<xsd:element ref="dgn:HagueMergerBag"/>
<xsd:element ref="dgn:HagueHolderNameAddressChangeBag"/>
<xsd:element ref="dgn:HagueCreatorNameAddressChangeBag"/>
<xsd:element ref="dgn:HagueRenunciationBag"/>
<xsd:element ref="dgn:HagueLimitationBag"/>
<xsd:element ref="dgn:HagueCorrectionBag"/>
<xsd:element ref="dgn:HagueSecondPartFeePaidBag"/>
<xsd:element ref="dgn:HagueSecondPartFeeNotPaidBag"/>
<xsd:element ref="dgn:HaguePublicationCancellationBag"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="HagueOfficeTransactionCategory" type="dgn:HagueOfficeTransactionCategoryType">
		<xsd:annotation>
			<xsd:documentation>List of Hague transaction from Office to IB</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="HagueOfficeTransactionCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Application">
				<xsd:annotation>
					<xsd:documentation>Application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Grant protection">
				<xsd:annotation>
					<xsd:documentation>Grant protection</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Refusal">
				<xsd:annotation>
					<xsd:documentation>Refusal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
				<xsd:enumeration value="Refusal withdrawal">
				<xsd:annotation>
					<xsd:documentation>Refusal withdrawal</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Invalidation">
				<xsd:annotation>
					<xsd:documentation>Invalidation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Division">
				<xsd:annotation>
					<xsd:documentation>Division</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Second part fee payable">
				<xsd:annotation>
					<xsd:documentation>Second part fee payable</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Second part fee paid">
				<xsd:annotation>
					<xsd:documentation>Second part fee paid</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Cancellation non payment">
				<xsd:annotation>
					<xsd:documentation>Cancellation non payment</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Generic office communication">
				<xsd:annotation>
					<xsd:documentation>Generic office communication</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="HagueOwnershipChange" type="dgn:HagueOwnershipChangeType">
		<xsd:annotation>
			<xsd:documentation>Change in ownership of international design registration
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueOwnershipChangeBag" type="dgn:HagueOwnershipChangeBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of change of ownership</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueOwnershipChangeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueOwnershipChange" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueOwnershipChangeRefusal" type="dgn:HagueOwnershipChangeRefusalType">
		<xsd:annotation>
			<xsd:documentation>Declaration by an IP Office designated in an international design registration that a change in ownership has no effect
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueOwnershipChangeRefusalBag" type="dgn:HagueOwnershipChangeRefusalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of refusals of change in ownership</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueOwnershipChangeRefusalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueOwnershipChangeRefusal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueOwnershipChangeRefusalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:HagueBulletinReference"/>
<xsd:element ref="dgn:PreviousHolderBag"/>
<xsd:element ref="dgn:ChildRegistrationNumber" minOccurs="0"/>
<xsd:element ref="dgn:MergedRegistrationNumber" minOccurs="0"/>
<xsd:element ref="dgn:HolderBag"/>
<xsd:element ref="dgn:AffectedDesign"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueOwnershipChangeRefusalWithdrawal" type="dgn:HagueOwnershipChangeRefusalWithdrawalType">
		<xsd:annotation>
			<xsd:documentation>Withdrawal of declaration by an IP Office that a change in ownership has no effect
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueOwnershipChangeRefusalWithdrawalBag" type="dgn:HagueOwnershipChangeRefusalWithdrawalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of withdrawals of refusals of ownership change</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueOwnershipChangeRefusalWithdrawalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueOwnershipChangeRefusalWithdrawal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueOwnershipChangeRefusalWithdrawalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:HagueBulletinReference"/> 
<xsd:element ref="dgn:PreviousHolderBag"/>
<xsd:element ref="dgn:ChildRegistrationNumber" minOccurs="0"/>
<xsd:element ref="dgn:MergedRegistrationNumber" minOccurs="0"/>
<xsd:element ref="dgn:HolderBag"/>
<xsd:element ref="dgn:AffectedDesign"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueOwnershipChangeType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumberBag"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="com:RecordInterestedOfficeCodeBag" minOccurs="0"/>
<xsd:element ref="dgn:DesignatedCountryBag" minOccurs="0"/>
<xsd:element ref="dgn:HolderChangeBag"/>
<xsd:element ref="dgn:AffectedDesign"/>
<xsd:element ref="dgn:ChildRegistrationNumber" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HaguePublicationCancellation" type="dgn:HaguePublicationCancellationType">
		<xsd:annotation>
			<xsd:documentation>Cancellation of a registration for non-payment of the publication fee when the publication was deferred
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="HaguePublicationCancellationBag" type="dgn:HaguePublicationCancellationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of publication cancellations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HaguePublicationCancellationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HaguePublicationCancellation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HaguePublicationCancellationType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:DesignatedCountryBag" minOccurs="0"/>
<xsd:element ref="dgn:HolderBag" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueRefusal" type="dgn:HagueRefusalType">
		<xsd:annotation>
			<xsd:documentation>Notification of refusal of the effects of an international registration with regards to some or all of the designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueRefusalBag" type="dgn:HagueRefusalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of refusals</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueRefusalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueRefusal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueRefusalType">
		<xsd:sequence>
			<xsd:element ref="com:InternationalRegistrationNumber"/>
			<xsd:element ref="com:RecordIdentifier"/>
			<xsd:element ref="com:InternationalRecordingDate"/>
			<xsd:element ref="com:RecordNotifyingOfficeCode"/>
			<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
			<xsd:element ref="com:DecisionDate"/>
			<xsd:element ref="dgn:AffectedDesign"/>
			<xsd:element ref="dgn:DecisionGroundsBag" minOccurs="0"/>
			<xsd:element ref="dgn:DecisionRemedyTextBag" minOccurs="0"/>
			<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
			<xsd:element ref="com:CommentText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueRefusalWithdrawal" type="dgn:HagueRefusalWithdrawalType">
		<xsd:annotation>
			<xsd:documentation>Withdrawal of a refusal of the effects of an international registration with regards to some or all of the designs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueRefusalWithdrawalBag" type="dgn:HagueRefusalWithdrawalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of withdrawals of refusal</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueRefusalWithdrawalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueRefusalWithdrawal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="HagueRefusalWithdrawalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:RecordNotifyingOfficeCode"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:AffectedDesign"/>
<xsd:element ref="com:DecisionDate"/>
<xsd:element ref="com:DecisionEffectiveDate" minOccurs="0"/>
<xsd:element ref="dgn:Amendment" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	
	<xsd:element name="HagueRegistration" type="dgn:HagueRegistrationType">
		<xsd:annotation>
			<xsd:documentation>Registration of international design application under the 1960 or the 1999 Act of the Hague Agreement</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueRegistrationBag" type="dgn:HagueRegistrationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of international registrations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueRegistrationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueRegistration" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HagueRegistrationType">
		<xsd:sequence>
			<xsd:element ref="com:InternationalRegistrationNumber"/>
			<xsd:element ref="com:RecordIdentifier"/>
			<xsd:element ref="com:InternationalRegistrationDate"/>
			<xsd:element ref="com:InternationalFilingDate"/>
			<xsd:element ref="com:FeeCalculationDate"/>
			<xsd:element ref="com:FilingLanguageCode"/>
			<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
			<xsd:element ref="com:ApplicantFileReference" minOccurs="0"/>
			<xsd:element ref="com:ApplicationNumber" minOccurs="0"/>
			<xsd:element ref="dgn:DesignatedCountryBag"/>
			<xsd:element ref="com:ExpiryDate"/>
			<xsd:element ref="dgn:DesignTotalQuantity"/>
			<xsd:element ref="dgn:DefermentExpiryDate" minOccurs="0"/>
			<xsd:element ref="dgn:HolderBag"/>
			<xsd:element ref="dgn:BusinessEntityStatusClaimBag" minOccurs="0"/>
			<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
			<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
			<xsd:element ref="dgn:HagueDesignBag"/>
			<xsd:element ref="dgn:DesignClaimBag" minOccurs="0"/>
			<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
			<xsd:element ref="com:CommentText" minOccurs="0"/>
			<xsd:element ref="com:DocumentIncludedBag" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueRenewal" type="dgn:HagueRenewalType">
		<xsd:annotation>
			<xsd:documentation>Renewal of international design registration
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueRenewalBag" type="dgn:HagueRenewalBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of Renewals</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueRenewalBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueRenewal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueRenewalType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="dgn:DesignatedCountryBag"/>
<xsd:element ref="com:RenewalDate"/>
<xsd:element ref="com:FeeCalculationDate"/>
<xsd:element ref="com:ExpiryDate"/>
<xsd:element ref="dgn:RenewalPeriod"/>
<xsd:element ref="dgn:AffectedDesign"/>
<xsd:element ref="dgn:HolderBag" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueRenunciation" type="dgn:HagueRenunciationType">
		<xsd:annotation>
			<xsd:documentation>Renunciation of all the designs contained in an international design registration with respect to some or all the designated Contracting Parties
</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueRenunciationBag" type="dgn:HagueRenunciationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of renunciations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueRenunciationBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueRenunciation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="HagueRenunciationType">
		<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumberBag"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="com:InternationalRecordingDate"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:DesignatedCountryBag" minOccurs="0"/>
<xsd:element ref="dgn:HolderBag" minOccurs="0"/>
<xsd:element ref="com:RepresentativeBag" minOccurs="0"/>
<xsd:element ref="com:CorrespondenceAddress" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HagueSecondPartFeeNotPaid" type="dgn:HagueSecondPartFeeNotPaidType">
		<xsd:annotation>
			<xsd:documentation>Notification that the second part of the designation fee has not been paid to the Office with respect to an international registration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueSecondPartFeeNotPaidBag" type="dgn:HagueSecondPartFeeNotPaidBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of notifications that the second part of the designation fee was not paid</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueSecondPartFeeNotPaidBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueSecondPartFeeNotPaid" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="HagueSecondPartFeeNotPaidType">
			<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier"/>
<xsd:element ref="dgn:DesignatedCountry"/>
<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	
<xsd:element name="HagueSecondPartFeePaid" type="dgn:HagueSecondPartFeePaidType">
		<xsd:annotation>
			<xsd:documentation>Notification that the second part of the designation fee has been paid to the Office with respect to an international registration</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HagueSecondPartFeePaidBag" type="dgn:HagueSecondPartFeePaidBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of notifications that the second part of the designation fee was paid</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HagueSecondPartFeePaidBagType">
		<xsd:sequence>
<xsd:element ref="dgn:HagueSecondPartFeePaid" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="HagueSecondPartFeePaidType">
			<xsd:sequence>
<xsd:element ref="com:InternationalRegistrationNumber"/>
<xsd:element ref="com:RecordIdentifier" minOccurs="0"/>
<xsd:element ref="com:OfficeReferenceIdentifier" minOccurs="0"/>
<xsd:element ref="dgn:DesignatedCountry"/>
<xsd:element ref="com:PaymentDate"/>
<xsd:element ref="com:FeeCalculationDate"/>
<xsd:element ref="dgn:AffectedDesign" minOccurs="0"/>
<xsd:element ref="dgn:HagueDesignBag" minOccurs="0"/>
<xsd:element ref="com:OfficeSpecificContent" minOccurs="0"/>
<xsd:element ref="com:SignatureBag" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	
<xsd:element name="Holder" type="dgn:ApplicantType">
		<xsd:annotation>
			<xsd:documentation>Data regarding the holder of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="HolderBag" type="dgn:HolderBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of the holders of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="HolderBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:Holder" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="HolderChangeBag" type="dgn:HolderChangeBagType">
		<xsd:annotation>
			<xsd:documentation>Details of the previous and new holder of the design or of the previous name/address and the new name/address, in case of change in the name/address of the holder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="HolderChangeBagType">
		<xsd:sequence>
<xsd:element ref="dgn:PreviousHolderBag"/>
<xsd:element ref="dgn:HolderBag"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="MergedRegistrationNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The number of the international registration resulting from a merger, where the partial change in ownership has been recorded (either in respect of some designs only and/or some designated contracting parties only), where applicable</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PreviousDesignerBag" type="dgn:DesignerBagType">
		<xsd:annotation>
			<xsd:documentation>Details of the previous designer/creator</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PreviousHolder" type="dgn:ApplicantType">
		<xsd:annotation>
			<xsd:documentation>Data regarding the previous holder of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="PreviousHolderBag" type="dgn:PreviousHolderBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of the previous design holders</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="PreviousHolderBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:PreviousHolder" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="PrincipalDesignCategory" type="dgn:PrincipalDesignCategoryType">
		<xsd:annotation>
			<xsd:documentation>Types of documents in which the principal design can be found</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="PrincipalDesignCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Current application">
				<xsd:annotation>
					<xsd:documentation>Current application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="International application">
				<xsd:annotation>
					<xsd:documentation>International application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="International registration">
				<xsd:annotation>
					<xsd:documentation>International registration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="National or regional application">
				<xsd:annotation>
					<xsd:documentation>National or regional application</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="National or regional registration">
				<xsd:annotation>
					<xsd:documentation>National or regional registration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="PrincipalDesignReference" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Reference to the specific design contained in the document</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="PrincipalDesignRelation" type="dgn:PrincipalDesignRelationType">
		<xsd:annotation>
			<xsd:documentation>
				Type of relation to a principal design. When the principal design is set to "Current application" in a dgn:HagueApplication, the value of com:OfficeReferenceIdentifier should be used to as the value for com:DocumentIdentifier. When the principal design is set to "Current application" in a dgn:HagueRegistration, the value of com:InternationalRegistrationNumber should be used as the value for com:DocumentIdentifier
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="PrincipalDesignRelationBag" type="dgn:PrincipalDesignRelationBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of principal design relations</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="PrincipalDesignRelationBagType">
		<xsd:sequence>
			<xsd:element ref="dgn:PrincipalDesignRelation" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="PrincipalDesignRelationType">
		<xsd:sequence>
			<xsd:element ref="dgn:DesignatedCountryBag" maxOccurs="unbounded"/>
			<xsd:element ref="dgn:PrincipalDesignCategory"/>
			<xsd:element ref="com:DocumentIdentifier"/>
			<xsd:element ref="dgn:PrincipalDesignReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="Priority" type="dgn:PriorityType">
		<xsd:annotation>
			<xsd:documentation>Priority claimed under the Paris Convention</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="PriorityBag" type="dgn:PriorityBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of priorities</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="PriorityBagType">
		<xsd:sequence>
<xsd:element ref="dgn:Priority" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:complexType name="PriorityType">
		<xsd:sequence>
<xsd:element ref="com:PriorityCountryCode"/>
<xsd:element ref="com:ApplicationNumber" minOccurs="0"/>
<xsd:element ref="com:PriorityApplicationFilingDate"/>
			<xsd:element ref="com:DASAccessCode" minOccurs="0"/>
<xsd:element ref="com:PriorityHolderName" minOccurs="0"/>
<xsd:element ref="com:PriorityStatusCategory" minOccurs="0"/>
<xsd:element ref="com:PriorityStatusDate" minOccurs="0"/>
<xsd:element ref="com:CommentText" minOccurs="0"/>
<xsd:element ref="com:PriorityDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:attribute name="priorRefusalIndicator" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>Indication of whether the decision follows a refusal or not. If true, the decision follows a refusal, if false, the decision does not follow a refusal</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	
	<xsd:element name="RenewalPeriod" type="xsd:positiveInteger">
		<xsd:annotation>
			<xsd:documentation>A number representing a 5-year cycle of renewal for a design right. A 1 means years 5-10, a 2 means years 10 to 15, and so on</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="RepresentationFormCategory" type="dgn:RepresentationFormCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category of view such as image, drawing or photograph</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="RepresentationFormCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Image">
				<xsd:annotation>
					<xsd:documentation>Image</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Drawing">
				<xsd:annotation>
					<xsd:documentation>Drawing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Photograph">
				<xsd:annotation>
					<xsd:documentation>Photograph</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="TransactionCancelledIndicator" type="xsd:boolean" fixed="true">
		<xsd:annotation>
			<xsd:documentation>Indicates that the transaction is to be cancelled</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="View" type="dgn:ViewType">
		<xsd:annotation>
			<xsd:documentation>A view, representation or reproduction of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ViewBag" type="dgn:ViewBagType">
		<xsd:annotation>
			<xsd:documentation>Collection of design views</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="ViewBagType">
		<xsd:sequence>
<xsd:element ref="dgn:View" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="ViewClassification" type="dgn:ViewClassificationType">
		<xsd:annotation>
			<xsd:documentation>List of figurative elements to which the design view belongs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ViewClassificationType">
		<xsd:sequence>
			<xsd:element ref="com:FigurativeElementClassificationBag" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
<xsd:element name="ViewFileFormatCategory" type="dgn:ViewFileFormatCategoryType">
		<xsd:annotation>
			<xsd:documentation>Kind of digital file format of the design view</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:simpleType name="ViewFileFormatCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="JPEG">
				<xsd:annotation>
					<xsd:documentation>JPEG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TIFF">
				<xsd:annotation>
					<xsd:documentation>TIFF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PNG">
				<xsd:annotation>
					<xsd:documentation>PNG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GIF">
				<xsd:annotation>
					<xsd:documentation>GIF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SVG">
				<xsd:annotation>
					<xsd:documentation>Scalable vector graphics image</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ThreeDS">
				<xsd:annotation>
					<xsd:documentation>3D Studio</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DWG">
				<xsd:annotation>
					<xsd:documentation>Drawing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DWF">
				<xsd:annotation>
					<xsd:documentation>Design Web Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IGES">
				<xsd:annotation>
					<xsd:documentation>Initial Graphic Exchange Specification</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ThreeDM">
				<xsd:annotation>
					<xsd:documentation>Three-Dimensional Modeling</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SWF">
				<xsd:annotation>
					<xsd:documentation>Small Web Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MPEG">
				<xsd:annotation>
					<xsd:documentation>Moving Picture Experts Group</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WMV">
				<xsd:annotation>
					<xsd:documentation>Windows Media Video</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="ViewIdentifier" type="com:IdentifierType">
		<xsd:annotation>
			<xsd:documentation>View identification number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ViewTotalQuantity" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>Total number of views (reproductions) representing a design or that are contained in a design application</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:complexType name="ViewType">
		<xsd:sequence>
			<xsd:element ref="com:FileName"/>
			<xsd:element ref="com:ThumbnailFileName" minOccurs="0"/>
			<xsd:element ref="dgn:ViewIdentifier"/>
			<xsd:element ref="dgn:ViewFileFormatCategory" minOccurs="0"/>
			<xsd:element ref="com:Caption" minOccurs="0"/>
			<xsd:element ref="com:ColourIndicator" minOccurs="0"/>
			<xsd:element ref="dgn:RepresentationFormCategory" minOccurs="0"/>
			<xsd:element ref="dgn:ViewClassification" minOccurs="0"/>
			<xsd:choice minOccurs="0">
				<xsd:element ref="dgn:ViewTypeCategory"/>
				<xsd:element ref="dgn:ViewTypeTextBag"/>
			</xsd:choice>
			<xsd:element ref="com:HeightMeasure" minOccurs="0"/>
			<xsd:element ref="com:WidthMeasure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ViewTypeCategory" type="dgn:ViewTypeCategoryType">
		<xsd:annotation>
			<xsd:documentation>Category to indicate a type of view of the design</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:simpleType name="ViewTypeCategoryType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Perspective">
			<xsd:annotation>
			<xsd:documentation>This is the view of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person in a direction that is not aligned with any of the axes of a chosen 3-dimension Cartesian coordinate system. The image should have been obtained by perspective projection or orthographic projection.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Front">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person in front of the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the positive direction of the x-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Back">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person behind the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the negative direction of the x-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Top">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person above the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the positive direction of the z-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Bottom">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person below the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the negative direction of the z-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Left">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person on the left side of the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the negative direction of the y-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Right">
			<xsd:annotation>
			<xsd:documentation>This is one of the principal views of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person on the right side of the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is the positive direction of the y-axis of a chosen 3-dimension Cartesian coordinate system.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Isometric">
			<xsd:annotation>
			<xsd:documentation>This is an orthographic view of a 3-dimensional object, representing the 2-dimensional image that could be sensed by a person in a special direction. The projection direction is such that the three axes of the chosen 3-dimension Cartesian coordinate system would be projected into three vectors with the same origin and 120-degree from each other on the projection plane.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Reference">
			<xsd:annotation>
			<xsd:documentation>This is a view used for understanding, which generally includes matter for which protection is not sought.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Unfolded">
			<xsd:annotation>
			<xsd:documentation>This is a 2-dimensional view of the 3-dimensional object as if it had been unfolded into a 2-dimensional object.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Exploded"> 
			<xsd:annotation>
			<xsd:documentation>This is a view that displays the components of a 3-dimensional object separated by an equal distance, as if a controlled explosion had separated them from their initial position.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Cross sectional">
			<xsd:annotation>
			<xsd:documentation>This is a view of a 3-dimensional object from the position of a plane through the object, commonly used to show internal features of a design</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Enlarged"> 
			<xsd:annotation>
			<xsd:documentation>This is a view representing a detail of the design displayed in a different scale from that of main views.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Front Surface">
			<xsd:annotation>
			<xsd:documentation>This is the view of a 2-dimensional object, representing the 2-dimensional image that could be sensed by a person in front of the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is perpendicular to the object plane.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Back Surface">
			<xsd:annotation>
			<xsd:documentation>This is the view of a 2-dimensional object, representing the 2-dimensional image that could be sensed by a person behind the object. The image should have been obtained by either orthographic projection or perspective projection, where the projection direction is perpendicular to the object plane.</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Representative typeface">
			<xsd:annotation>
			<xsd:documentation>Representative characters, numbers and/or symbols that best represent the characteristics of the typeface</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Example typeface">
			<xsd:annotation>
			<xsd:documentation>Example words, expressions, sentences and/or drawings composed of characters, numbers and/or symbols in the typeface</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Typeface set">
			<xsd:annotation>
			<xsd:documentation>The set of designated characters, numbers and/or symbols in the corresponding typeface that forms the typeface design</xsd:documentation>
			</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
<xsd:element name="ViewTypeText" type="com:OrderedTextType">
		<xsd:annotation>
			<xsd:documentation>Text identifying a view type which does not fit into a known view type category</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:element name="ViewTypeTextBag" type="dgn:ViewTypeTextBagType">
		<xsd:annotation>
			<xsd:documentation>A collection of view type text for multiple language support</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
<xsd:complexType name="ViewTypeTextBagType">
		<xsd:sequence>
<xsd:element ref="dgn:ViewTypeText" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>